/*left top*/
.block-layered-nav{
    .category-title{
        background: none;
        border-bottom: medium none;
        font-weight: bold;
        margin-bottom: 0;
        text-align: left;
        h1{
            font-weight: bold;
            padding-bottom: 5px;
        }
    }
    .category-title.active{
        margin-bottom: 10px;
        border-bottom: 1px solid #ececec;
    }

    .m-filter-group{
        display:none;
    }

    .m_left_category_filter{
        border-top:none;
    }   

    dd {
        padding-left:5px;
    }

    dd li:before {
    content:none;
    } 
}

/*pages*/
.toolbar{
    .pager{
        margin-top: 0;
        padding-bottom: 6px;
        .pages{
            float: right;
            margin-left: 10px;
            margin-right: 0;
        }

        .amount{
            display:none;
        }
    }

    .sorter{
        display:none;
/*        float: right;
        margin-right: 300px;
        margin-top: -44px;*/
    }
}

/*price slider*/
#left_price-span,
.m-filter-slider > .m-slider-span {
    border-bottom: 2px solid #666;
    /*height: 9px;*/
    margin-top:8px;
    margin-left: -9px;
}

#left_price-track #left_price-to ,#left_price-track #left_price-from,
.m-filter-slider > .m-slider-from, .m-filter-slider > .m-slider-to {
    /*background: url("../images/manapro_filterslider/slider.png") no-repeat scroll 0 0 transparent;*/
    height: 17px;
    width: 17px;
    /*margin-top:3px;*/
}

#left_price-track #left_price-to ,
.m-filter-slider > .m-slider-to {
    background: url("../images/manapro_filterslider/slider.png") no-repeat scroll -19px 0 transparent !important;
}

#left_price-track #left_price-from,
.m-filter-slider > .m-slider-from {
    background: url("../images/manapro_filterslider/slider.png") no-repeat scroll 0 0 transparent !important;
}

.m-filter-slider,
.m-filter-slider {
    background: url("../images/manapro_filterslider/bkg_slider.png") repeat-x scroll 0 0 transparent !important;
    border: medium none;
}    

/*product image*/
@bg-color:#fff;
.products-grid{
    .product-image {
        background: none repeat scroll 0 0 @bg-color;
        border: 1px solid @bg-color;
        height: 455px;
        width: 320px;
    }

    li.item {
        margin-right: -5px;
        padding-left: 15px;
        padding-right: 5px;
    }

    .item:hover .product-image .product-image-small{
        margin-left: auto;
        margin-right: auto;
    }

    > li:hover .add-to-links {
        left: 55px;
        top: -460px;
    }
} 

/*product detail page*/
.col1-layout .product-view {
    .product-shop {
        float: right;
        width: 30%;
    }
}

/*------------------------------------*\
    NAV
\*------------------------------------*/
@bg-color2:#aaa;
#nav-pages{
    list-style:none;
    font-weight:bold;
    /*margin-bottom:10px;*/
    /* Clear floats */
    float:left;
    width:100%;
    /* Bring the nav above everything else--uncomment if needed.
    position:relative;
    z-index:5;
    */
   li{
        float:left;
        margin-right:10px;
        position:relative;
    }

    a{
        display:block;
        padding:5px;
        color:#fff;
        background:#333;
        text-decoration:none;
    }

    a:hover{
        color:#fff;
        background:@bg-color2;
        text-decoration:underline;
    }

    ul{
        background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
        background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
        list-style:none;
        position:absolute;
        left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    }
    ul li{
        padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
        float:none;
    }
    ul a{
        white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
    }

    li:hover ul{ /* Display the dropdown on hover */
        left:0; /* Bring back on-screen when needed */
    }
    li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
        background:@bg-color2;
        text-decoration:underline;
    }
    li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
        text-decoration:none;
    }

    li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
        background:#333;
    }
}
