@keyframes slideOutLeft {
0% {
    transform: translateX(0px);
}
100% {
    transform: translateX(-2000px);
}
}
@keyframes slideInLeft {
0% {
    transform: translateX(-2000px);
}
100% {
    transform: translateX(0px);
}
}
body {
}
body .page {
    width: 100%;
}
body .wrapper .page .main.col1-layout {
    margin: auto;
    max-width: 1400px;
    width: 96% !important;
}
body .main.col1-layout .container {
    width: 100%;
}
body #breadcrumb_list_magento.container {
    display: none;
}
.navbar .extra-nav {
}
body .page .col-main section {
    margin-top: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
body .page .col-main section {
    margin-top: 10px !important;
}
}
@media not all {
body .page .col-main section {
    margin-top: 10px !important;
}
}
@media not all {
body .page .col-main section {
    margin-top: 10px !important;
}
}
body .page .col-main section .row-fluid {
    margin-bottom: 1%;
}
body .page .col-main section .row-fluid [class*="span"] {
    margin-left: 1%;
}
body .page .col-main section .row-fluid [class*="span"] a {
    display: block;
    position: relative;
}
body .page .col-main section .row-fluid [class*="span"]:first-child, body .page .col-main section .row-fluid.margin_0 [class*="span"] {
    margin-left: 0;
}
body .page .col-main section .row-fluid [class*="span"] img {
    height: auto;
    width: 100%;
}
body .page .col-main section .row-fluid .span2 {
    width: 16.6667%;
}
body .page .col-main section .row-fluid .span3 {
    width: 24.9999%;
}
body .page .col-main section .row-fluid .span4 {
    width: 33.3333%;
}
body .page .col-main section .row-fluid .span6 {
    width: 49.999%;
}
body .page .col-main section .row-fluid .span8 {
    width: 66.666%;
}
body .page .col-main section .row-fluid.not_margin_0 .span3 {
    width: 24.5%;
}
body .page .col-main section .row-fluid.not_margin_0 .span4 {
    width: 32.6666%;
}
body .page .col-main section .row-fluid.not_margin_0 .span6 {
    width: 49.5%;
}
body .page .col-main section .row-fluid.not_margin_0 .span8 {
    width: 66.333%;
}
body .page .col-main section .row-fluid .span6 .span3 {
    width: 24.9999%;
}
body .page .col-main section .row-fluid .span6 .span4 {
    width: 33.3333%;
}
body .page .col-main section .row-fluid .span6 .span6 {
    width: 49.999%;
}
body .page .col-main section .row-fluid .span6 .span8 {
    width: 66.666%;
}
.parallax {
    left: 0;
    position: absolute;
    top: -100px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
.parallax {
    top: 0;
}
}
body .page .col-main section .flexslider.flex-home {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    top: 0;
}
body .page .col-main section .flexslider.flex-home .flex-viewport {
    overflow: visible !important;
}
body .page .col-main section .flexslider.flex-home .flex-viewport ul.slides li {
}
body .page .col-main section .flexslider.flex-home .flex-viewport ul.slides li div.diapo {
    margin: auto;
    opacity: 0.5;
    position: relative;
    width: 99%;
}
body .page .col-main section .flexslider.flex-home .flex-viewport ul.slides li.flex-active-slide div.diapo {
    opacity: 1;
}
.sep_black {
    background: none repeat scroll 0 0 #000;
    height: 3px;
    margin-bottom: 20px;
    width: 100%;
}
p {
    font-weight: normal;
}
footer .viewed-products {
    display: none;
}
@media only screen and (min-device-width: 1023px) {
.hover .parallax {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: slideInLeft;
}
.hover:hover .parallax {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: slideOutLeft;
}
}
#policy-cookies {
    display: none !important;
}
.wrapper {
    min-width: 960px;
    overflow: hidden;
    width: 100%;
}

.row:before, .row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
.row [class*="span"] .row:last-child {
    margin-bottom: 0;
}
.row [class*="span"] .row-fluid:last-child {
    margin-bottom: 0;
}
[class*="span"] {
    box-sizing: border-box;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}

.span12 {
    width: 940px;
}
.span11 {
    width: 861px;
}
.span9 {
    width: 703px;
}
.span8 {
    width: 624px;
}
.span7 {
    width: 545px;
}
.span6 {
    width: 466px;
}
.span5 {
    width: 387px;
}
.span4 {
    width: 308px;
}
.span3 {
    width: 229px;
}
.span2 {
    width: 150px;
}
.span1 {
    width: 71px;
}
.span1.column-separator {
    right: 39.5px;
}
.offset6 {
    margin-left: 482px;
}
.offset2 {
    margin-left: 166px;
}
.offset1 {
    margin-left: 87px;
}
.row-fluid {
    margin-bottom: 6px;
    margin-top: -8px;
    width: 100%;
}
.row-fluid:before, .row-fluid:after {
    content: "";
    display: table;
}
.row-fluid:after {
    clear: both;
}
.row-fluid [class*="span"] .row:last-child {
    margin-bottom: 0;
}
.row-fluid [class*="span"] .row-fixed:last-child {
    margin-bottom: 0;
}
.row-fluid [class*="span"] .row-fluid:last-child {
    margin-bottom: 0;
}
.row-fluid [class*="span"] {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 0.851064%;
    margin-top: 8px;
    min-height: 28px;
    width: 100%;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
.row-fluid .span12 {
    width: 100%;
}
.row-fluid .span12.column-separator {
    right: 50.4255%;
}
.row-fluid .span11 {
    width: 91.5957%;
}
.row-fluid .span11.column-separator {
    right: 46.2234%;
}
.row-fluid .span10 {
    width: 83.1915%;
}
.row-fluid .span10.column-separator {
    right: 42.0213%;
}
.row-fluid .span9 {
    width: 74.7872%;
}
.row-fluid .span9.column-separator {
    right: 37.8191%;
}
.row-fluid .span8 {
    width: 66.383%;
}
.row-fluid .span8.column-separator {
    right: 33.617%;
}
.row-fluid .span7 {
    width: 57.9787%;
}
.row-fluid .span7.column-separator {
    right: 29.4149%;
}
.row-fluid .span6 {
    width: 49.5745%;
}
.row-fluid .span6.column-separator {
    right: 25.2128%;
}
.row-fluid .span5 {
    width: 41.1702%;
}
.row-fluid .span5.column-separator {
    right: 21.0106%;
}
.row-fluid .span4 {
    width: 32.766%;
}
.row-fluid .span4.column-separator {
    right: 16.8085%;
}
.row-fluid .span3 {
    width: 24.3617%;
}
.row-fluid .span3.column-separator {
    right: 12.6064%;
}
.row-fluid .span2 {
    width: 15.9574%;
}
.row-fluid .span2.column-separator {
    right: 8.40426%;
}
.row-fluid .span1 {
    width: 7.55319%;
}
.row-fluid .span1.column-separator {
    right: 4.20213%;
}
.row-fixed {
    margin-bottom: 8px;
    margin-left: -8px;
    margin-top: -8px;
}
.row-fixed:before, .row-fixed:after {
    content: "";
    display: table;
}
.row-fixed:after {
    clear: both;
}
.row-fixed [class*="span"] {
    box-sizing: border-box;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}
.row-fixed .span3 {
    width: 229px;
}
.row-fixed [class*="span"]:first-child {
    margin-left: 8px;
    margin-top: 8px;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
.container:before, .container:after {
    content: "";
    display: table;
}
.container:after {
    clear: both;
}
.responsive-content {
    clear: both;
    position: relative;
    width: 940px;
}
@media only screen and (min-width: 320px) and (max-width: 700px) {
.wrapper {
    min-width: 0;
}
body .page .col-main section .flexslider.flex-home {
    overflow: hidden;
}
html body .wrapper .page .main.col1-layout {
    margin: auto;
    width: 98% !important;
}
html body .page .col-main section .flexslider.flex-home .flex-direction-nav .flex-prev {
    left: -20px !important;
}
html body .page .col-main section .flexslider.flex-home .flex-direction-nav .flex-next {
    right: -20px !important;
}
}
body .page.mOne-slider section.home {
    margin:0 !important;
}
body .page.mOne-slider {
    overflow: unset;
	max-width: 1230px;
}
.flex-direction-nav li a.flex-next {
    background: url("../images/arrows.png") repeat scroll -62px 0 rgba(0, 0, 0, 0);
    display: block;
    height: 62px;
    margin: 0;
    right: -29px;
    top: 41%;
    width: 62px;
}
.flex-direction-nav li a.flex-prev {
    background: url("../images/arrows.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 62px;
    left: -32px;
    margin: 0;
    top: 41%;
    width: 62px;
}
a.flex-prev:hover > span:before, a.flex-next:hover > span:before {
    color: #cccccc;
}
.padding-s .banners .banner3 {
    float: right;
    margin-right: 1px;
    width: 49.7%;
height:859px;
}
.padding-s .banner {
    padding: 0;
	width: 49.5%;
	margin-bottom:12px;
}
.padding-s .banner.last {
    float: right;
}
.padding-s .banner img {
    width: 100%;
}
.padding-s .banner a.first {
    margin-bottom: 8px;
}
.padding-s .banners .banner2 {
    margin-right: 0;
}
.padding-s .banners {
    margin: 0 auto;
}
.padding-s .banners a:hover {
    -webkit-filter: grayscale(100%); filter: grayscale(100%); 
 -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

