<table cellspacing="0" width="100%">
    <col/>
    <col width="1"/>

    <?php $_totals = $this->getTotals('') ?>
    <?php if ($_totals): ?>
        <tbody>
        <?php foreach ($_totals as $_code => $_total): ?>
            <tr>
                <td class="label">
                    <?php if ($_total->getLabel()): ?>
                        <?php echo $this->escapeHtml($_total->getLabel()); ?>
                    <?php else: ?>
                        <?php echo $this->escapeHtml(ucfirst($_total->getCode())); ?>
                    <?php endif; ?>
                </td>
                <td>
                    <?php if($_total->getLabel()): ?>
                        <?php echo $this->formatValue($_total); ?>
                    <?php else: ?>
                        <?php echo Mage::helper('core')->currency($this->getOrder()->getBaseTaxAmount(), true, false); ?>
                    <?php endif; ?>
                </td>
            </tr>
        <?php endforeach ?>
        </tbody>
    <?php endif ?>

    <?php $_totals = $this->getTotals('footer') ?>
    <?php if ($_totals): ?>
        <tbody>
        <?php foreach ($_totals as $_code => $_total): ?>
            <tr>
                <td class="label">
                    <strong><?php echo $this->escapeHtml($_total->getLabel()); ?></strong>
                </td>
                <td>
                    <strong><?php echo $this->formatValue($_total) ?></strong>
                </td>
            </tr>
        <?php endforeach ?>
        </tbody>
    <?php endif ?>
</table>
<?php $this->setOrder(null); ?>
