<?php
/**
 * Webinse_OrderPdf_Block_Adminhtml_Sales_Order_Export_Pdf
 */
?>

<?php if (Mage::registry('order')): ?>
    <?php Mage::unregister('order') ?>
<?php endif; ?>
<?php if (Mage::registry('current_order')): ?>
    <?php Mage::unregister('current_order') ?>
<?php endif; ?>

<?php $helper = Mage::helper('wb_orderpdf'); ?>
<?php if ($this->isVisibleItem()): ?>
    <?php
    $arrayItems = array();
    $i         = 0;
    $count     = count($orders);
    ?>
     <?php 
     foreach ($orders as $order){
        $_items = $order->getAllItems();
        $dataItem = '';
        foreach ($_items as $_item){
           // var_dump($_item->getParentItem());
            //if ($_item->getParentItem()) continue;
            $_product = $_item->getProduct();
            if($_product->getTypeId() != 'configurable'){

                //var_dump($_product->getColour());
               // var_dump($_product->getAttributeText('colour'));
          //  $_product = Mage::getModel('catalog/product')->load($_product->getId());
          //  var_dump($_product->getData());
           
                    $productId = $_product->getId();
                    $productSku = $_product->getSku();
                    $productColour = '';
                    $productSizeWomenBottomwear = '';
                    //var_dump($productId);
                    $productName = $_product->getName();
                    if($_product->getColour() != null){
                        $productColour = $_product->getAttributeText('colour');
                    }
                    if($_product->getSizeWomenBottomwear() != null){
                        $productSizeWomenBottomwear = $_product->getAttributeText('size_women_bottomwear');
                    }
                    $priceItem = $_item->getPriceInclTax();
                    $qtyOrdered =  intval($_item->getQtyOrdered());
                    $total = $_item->getRowTotalInclTax();
                    if(array_key_exists($productId,$arrayItems)){
                        //$priceItems = $_item->getPriceInclTax();
                        //$qtyOrdered =  $_item->getQtyOrdered();
                        //$total = $_item->getRowTotalInclTax();
                        $oldData = $arrayItems[$productId];
                        $newData = array();
                        $newData = explode('---', $oldData);
                        $newPriceItem = $priceItem;
                        $newQtyOrdered = $newData[5] + $qtyOrdered;
                        $newTotal = $newData[6] + $total;
                        $dataItem = $productSku.'---'.$productName.'---'.$productColour.'---'.$productSizeWomenBottomwear.'---'.$newPriceItem.'---'.$newQtyOrdered.'---'.$newTotal;
                        $arrayItems[$productId] = $dataItem;

                    }else{
                        $dataItem = $productSku.'---'.$productName.'---'.$productColour.'---'.$productSizeWomenBottomwear.'---'.$priceItem.'---'.$qtyOrdered.'---'.$total;
                        // $dataItem = $productName.'---'.Mage::helper('core')->currency($priceItem, true, false).'---'.intval($qtyOrdered).'---'.Mage::helper('core')->currency($total, true, false);
                        $arrayItems[$productId] = $dataItem;    
                    }
            }   
        }
        
     }
     asort($arrayItems);
        ?>

    <?php $imageSize = $helper->parseSize($helper->getOrderPdfCompanyInfo('logo_size')); ?>
    <?php //var_dump($orders);die('zzz'); ?>
     <?php //Mage::getSingleton('core/session')->setOrders($orders); ?>
     <?php //if ($this->isVisibleItem('items_ordered')): ?>
            <div class="block" style="border: 1px solid #<?php echo $helper->getOrderPdfStyles('border_color') ?>;background-color: #<?php echo $helper->getOrderPdfStyles('content_background') ?>;">
                <div class="head" style="border-bottom: 1px solid #<?php echo $helper->getOrderPdfStyles('border_color') ?>;font-size: <?php echo $helper->getOrderPdfStyles('head_text_size') ?>;background-color: #<?php echo $helper->getOrderPdfStyles('head_background') ?>;color: #<?php echo $helper->getOrderPdfStyles('head_text_color') ?>;">
                    <?php if ($helper->__($this->getItemName('items_ordered'))): ?>
                        <?php echo $helper->__($this->getItemName('items_ordered')); ?>
                    <?php else: ?>
                        <?php echo $helper->__('Items Ordered'); ?>
                    <?php endif; ?>
                </div>
                <div class="fieldset">
                    <div class="grid np">
  <div class="hor-scroll">
    <table cellspacing="0" class="data order-tables">
        <!-- <col /> -->
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <thead>
            <tr class="headings">
                <th><span class="nobr"><?php echo $this->helper('sales')->__('Product SKU') ?></span></th>
                <th><?php echo $this->helper('sales')->__('Qty') ?></th>
                <th></th>
                <!-- <th><?php echo $this->helper('sales')->__('Product Name') ?></th> -->
                
                <!-- <th><span class="nobr"><?php echo $this->helper('sales')->__('Original Price') ?></span></th> -->
                <th><?php echo $this->helper('sales')->__('Product Colour') ?></th>
                <th><?php echo $this->helper('sales')->__('Product Size') ?></th>
                <!-- <th><?php echo $this->helper('sales')->__('Price') ?></th> -->
                
                <th><?php echo $this->helper('sales')->__('Subtotal') ?></th>
                <!-- <th><span class="nobr"><?php echo $this->helper('sales')->__('Tax Amount') ?></span></th> -->
                <!-- <th><span class="nobr"><?php echo $this->helper('sales')->__('Tax Percent') ?></span></th> -->
                <!-- <th><span class="nobr"><?php echo $this->helper('sales')->__('Discount Amount') ?></span></th> -->
<!--                 <th class="last"><span class="nobr"><?php echo $this->helper('sales')->__('Row Total') ?></span></th>
 -->            </tr>
        </thead>
        <?php $i=0;foreach ($arrayItems as $key => $_item):?>
            <?php $i++;?>
            <tbody class="<?php echo $i%2?'even':'odd' ?>">
                <tr>
                <!-- <td class="a-center"><?php //echo $_item->getStatus() ?></td> -->

                <?php $itemData = explode('---', $_item);?>
                <td style="text-align:center;font-size:16;" class="a-right"><?php echo $itemData[0] ?></td>
                <td style="text-align:center;font-size:16;" class="a-right1 "><?php echo intval($itemData[5])?></td>
                <td style=""><input style="text-align:center;font-size:16;width:200px; height:200px;transform:scale(2);" type="checkbox" name="qty" value=""></td>
                <!-- <td class="a-right"><?php echo $itemData[1]; ?></td> -->
                <td style="text-align:center" class="a-right"><?php echo $itemData[2]; ?></td>
                <td style="text-align:center" class="a-right"><?php echo $itemData[3]; ?></td>
                <!-- <td class="a-right"><?php echo Mage::helper('core')->currency($itemData[4], true, false); ?></td> -->
                
                <td style="text-align:center" class="a-right"><?php echo Mage::helper('core')->currency($itemData[6], true, false) ?></td>
                <?php //echo $this->getItemHtml($_item) ?>
                <?php //echo $this->getItemExtraInfoHtml($_item) ?>
            </tr>
            </tbody>

        <?php  endforeach;  //die('sss');?>
        <?php //endforeach; ?>
    </table>
  </div>
</div>
<br />

                </div>
            </div>
        <?php //endif; ?>
   
<?php else: ?>
    <div class="block">
        <p><?php echo $helper->__('Please, select Order Visible Blocks in the System->Configuration->Webinse->Order to PDF.'); ?></p>
    </div>
<?php endif; ?>