<?php
	
	$checkout = Mage::getSingleton('checkout/type_onepage');
	$can_ship = !$checkout->getQuote()->isVirtual();
	$current_step = Mage::registry('tcheckout_current_step');
?>

<script>
var js = jQuery.noConflict();
js(document).on("change",".tcheckout-step-address .country-add select", function(){
	//js('.country-info')
	var getvl = js(this).val();
	var kq = js(this).find("option:selected").text();
	js('input.country-info').attr('value',kq);
})		
js(document).on("click","#tcheckout-save-btn", function(){
	
	// get first name
	var getvl = js('.tcheckout-step-address .name-firstname .input-box input').val();
	if(getvl!=''){
		js('li.address-first-name span').empty();
		js('li.address-first-name span').append(getvl);
		var vl = js('li.address-first-name span').text();
		if(vl!=''){
			js('li.address-first-name').show();
		}
	} else {
		js('li.address-first-name').hide();
	}
	
	// get last name
	var getvl = js('.tcheckout-step-address .name-lastname .input-box input').val();
	if(getvl!=''){
		js('li.address-last-name span').empty();
		js('li.address-last-name span').append(getvl);
	var vl = js('li.address-last-name span').text();
		if(vl!=''){
			js('li.address-last-name').show();
		}
	} else {
		js('li.address-last-name').hide();
	}
	
	// get company
	var getvl = js('.tcheckout-step-address .company-info').val();
	if(getvl!=''){
		js('li.address-company span').empty();
		js('li.address-company span').append(getvl);
	var vl = js('li.address-company span').text();
		if(vl!=''){
			js('li.address-company').show();
		}
	} else {
		js('li.address-company').hide();
	}
	
	// get Email
	var getvl = js('.tcheckout-step-address .email-info').val();
	if(getvl!=''){
		js('li.address-email span').empty();
		js('li.address-email span').append(getvl);
	var vl = js('li.address-email span').text();
		if(vl!=''){
			js('li.address-email').show();
		}
	} else {
		js('li.address-email').hide();
	}
	
	// get street1
	var getvl = js('.tcheckout-step-address .street1-info').val();
	if(getvl!=''){
		js('li.address-street1 span').empty();
		js('li.address-street1 span').append(getvl);
	var vl = js('li.address-street1 span').text();
		if(vl!=''){
			js('li.address-street1').show();
		}
	} else {
		js('li.address-street1').hide();
	}
	
	// get city
	var getvl = js('.tcheckout-step-address .city-info').val();
	if(getvl!=''){
		js('li.address-city span').empty();
		js('li.address-city span').append(getvl);
	var vl = js('li.address-city span').text();
		if(vl!=''){
			js('li.address-city').show();
		}
	} else {
		js('li.address-city').hide();
	};
	
	
	// get region
	var getvl = js('.tcheckout-step-address .region-input').val();
	//alert(getvl);
	if(getvl!=''){
		js('li.address-region span').empty();
		js('li.address-region span').append(getvl);
	var vl = js('li.address-region span').text();
		if(vl!=''){
			js('li.address-region').show();
		}
	} else {
		js('li.address-region').hide();
	};
	
	// get postcode
	var getvl = js('.tcheckout-step-address .postcode-info').val();
	if(getvl!=''){
		js('li.address-postcode span').empty();
		js('li.address-postcode span').append(getvl);
	var vl = js('li.address-postcode span').text();
		if(vl!=''){
			js('li.address-postcode').show();
		}
	} else {
		js('li.address-postcode').hide();
	}
	
	// get country

	var getvl = js('.tcheckout-step-address .country-info').val();
	if(getvl!=''){
		js('li.address-country span').empty();
		js('li.address-country span').append(getvl);
	var vl = js('li.address-country span').text();
		if(vl!=''){
			js('li.address-country').show();
		}
	} else {
		js('li.address-country').hide();
	}
	
	// get telephone
	var getvl = js('.tcheckout-step-address .telephone-info').val();
	if(getvl!=''){
		js('li.address-telephone span').empty();
		js('li.address-telephone span').append(getvl);
	var vl = js('li.address-telephone span').text();
		if(vl!=''){
			js('li.address-telephone').show();
		}
	} else {
		js('li.address-telephone').hide();
	}

});

</script>

<div class="checkout-header">
<a href="<?php echo $this->getUrl() ?>">
<img src="<?php echo $this->getSkinUrl('images/logocheckout.png');  ?>">
</a>
</div>
<div id="tcheckout-progress" class="tcheckout-progress <?php if(!$can_ship):?> two-steps <?php endif;?>">
<?php echo $this->getChildHtml('progressbar')?>
</div>


<?php echo $this->getMessagesBlock()->getGroupedHtml(''); ?>


<script type="text/javascript">
//<![CDATA[

	var countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?>;
    var payment = new paymentForm('tcheckout-form');
    
    var loginFormHtml = '<div id="elogin-message" class="a-left"></div>'+
		'<ul class="form-list">'+
            '<li>'+
                '<label class="required" for="elogin-email"><em>*</em><?php echo $this->__('Email Address');?></label>'+
                '<div class="input-box"><input type="text" title="<?php echo $this->__('Email Address');?>" class="input-text" id="elogin-email" /></div>'+
            '</li>'+
            '<li>'+
                '<label class="required" for="elogin-password"><em>*</em><?php echo $this->__('Password');?></label>'+
                '<div class="input-box"><input type="password" title="<?php echo $this->__('Password');?>" class="input-text" id="elogin-password"/></div>'+
            '</li>'+
        '</ul>'+
        '<div class="actions">'+
        	'<div id="elogin-buttons">'+
	        	'<div class="left">'+
	        		'<a href="<?php echo $this->getUrl('customer/account/forgotpassword')?>"><?php echo $this->__('Forgot Your Password?')?></a>'+
	        	'</div>'+
	        	'<div class="right">'+
	        		'<button class="button" onclick="TINY.box.hide();return false;"><span><span><?php echo $this->__('Cancel');?></span></span></button>'+
	        		'<button style="margin-left:5px;" class="button" onclick="elogin($(\'elogin-email\').value, $(\'elogin-password\').value, \'<?php echo $this->getUrl('tcheckout/index/login');?>\');return false;"><span><span><?php echo $this->__('Login');?></span></span></button>'+
	        	'</div>'+
	        '</div>'+
        	'<div id="elogin-loading" style="display:none;"><?php echo $this->__('loading please wait...');?></div>'+
        '</div>';
	
	
    
//]]>
</script>
	

<div id="tcheckout-container"><?php echo $this->getChildHtml('step')?></div>

<script type="text/javascript">
//<![CDATA[
    
    Object.extend(Checkout.prototype, {
    	addressLoad:function(){
    		
    		billing = new Billing('tcheckout-form');
		    
		    $('billing-address-select') && billing.newAddress(!$('billing-address-select').value);
		    
		    billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', countryRegions, undefined, 'billing:postcode');
		    
		    <?php if($can_ship):?>
		    
		    shipping = new Shipping('checkout-address-form');
		    
		    shippingRegionUpdater = new RegionUpdater('shipping:country_id', 'shipping:region', 'shipping:region_id', countryRegions, undefined, 'shipping:postcode');
		    
		    <?php endif;?>
    	},
    	methodsLoad:function(){
    		shippingMethod = new ShippingMethod('tcheckout-form', '');
    	},
    	reviewLoad:function(){
    		payment.init();
			
		    if($('payment-tool-tip-close')){
		        Event.observe($('payment-tool-tip-close'), 'click', payment.toggleToolTip);
		    }
    	}
    });
    
    checkoutForm = new Checkout('tcheckout-form', false, true);
    
    checkoutForm.initStep('<?php echo $current_step;?>', {back_url:'<?php echo $this->getBackUrl($current_step);?>'}, true);
    
//]]>
</script>

