<?php
	
	$checkout = Mage::getSingleton('checkout/type_onepage');
	$can_ship = !$checkout->getQuote()->isVirtual();
	$current_step = Mage::registry('tcheckout_current_step');
	
?>
<ol>
	<li class=" <?php echo $current_step == 'address' ? 'active' : '';?>"><span><?php echo $this->__('Address');?></span></li>

	<?php if($can_ship):?>
	<li class=" <?php echo $current_step == 'methods' ? 'active' : '';?>"><span><?php echo $this->__('Delivery');?></span></li>
	
	<?php endif;?>
	<li class=" <?php echo $current_step == 'review' ? 'active' : '';?>"><span><?php echo $this->__('Payment');?></span></li>
</ol>