.tcheckout-progress,
.tcheckout-step{
	border:1px solid #ddd;
	background:#fff;
	padding:1px;
	margin-bottom:15px;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
}
.tcheckout-progress ol,
.tcheckout-step-wrap{
	background:#fafafa;
	padding:10px 25px;
	zoom:1;
}
.tcheckout-progress ol:after,
.tcheckout-step-wrap:after{
	content:'';
	display:block;
	clear:both;
}
.tcheckout-progress ol{
	padding:5px 10px;
}

.tcheckout-progress li{
	float:left;
	width:30%;
	text-align:center;
	font-size:12px;
	text-transform:uppercase;
	font-weight:900;
	height:20px;
	padding-top:4px;
}
.two-steps li{
	width:45%;
}
.tcheckout-progress li.arrow{
	width:5%;
	background:url('../../images/ecommerceteam/tcheckout/progress-arrow.gif') 50% 50% no-repeat;
}
.two-steps li.arrow{
	width:10%;
}
.tcheckout-progress li.active{
	color:#E26703;
}
.tcheckout-step h2{
	font-size:13px;
	font-weight:900;
	/*border-bottom:1px solid #ddd;*/
	padding-bottom:7px;
	color:#E42803;
}
.tcheckout-step .form-list{
	border-bottom:1px solid #ddd;
	margin-bottom:7px;
}
.tcheckout-step-address .buttons-set{
	margin:0;
	padding:0;
	border:0;
}

.tcheckout-step .order-review{
	margin-bottom:20px;
}
.tcheckout-step .form-list .field{
	width:275px;
}
.tcheckout-step .form-list .input-box{
	width:270px;
}
.tcheckout-step .form-list input.input-text{
	width:255px;
	
}
.tcheckout-step .input-text{
	padding:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
}
.tcheckout-step select{
	padding:2px;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
}
.tcheckout-step .delivery-date-wrap img.handler{
	left: -20px;
	top: 3px;
}
.tcheckout-customer-info{
	margin-bottom:15px;
	overflow:hidden;
	zoom:1;
}
.tcheckout-customer-info li{
	float:left;
	width:31%;
	margin-right:2%;
}
.tcheckout-customer-info h4{
	font-size:12px;
}

.checkout-onepage-index .main .col-main{
    width:auto;
    float:none;
}