.header_top .currency-list1{
	width: 45px !important;
}
#curencysimbole{
font-size: 9px;
position: relative;
top: 3px;
}

.header-button.currency-list1 > a
 {
color: white;
	font-size:11px;
	line-height:21px;
	text-transform:capitalize;
	text-align:center;
	width:100%;
font-family:momo;
}
.header-button.currency-list1 > a:after{
	 display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0 !important;
}
.header_top .currency-list1 {
float: left;
margin-right:0px;
margin-top: 2px;
padding-bottom: 9px;
}
.currency-list1 {
float: left;
margin-right: 15px;
margin-top: 5px;
padding-bottom: 9px;
}
.header_top .currency-list1 > a:after {    content: none;}