
.more-view-slider .jcarousel-skin-tango .jcarousel-container {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #346f97;
    border-radius: 10px;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-direction-rtl {
    direction: rtl;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 20px 40px;
    width: 245px;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-container-vertical {
    border: 0 none;
    height: 602px;
    padding: 0;
    width: 100%;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: 75px;
    width: 245px;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-clip-vertical {
    height: 100%;
    width: 100%;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-item {
    height: 143.5px;
    width: 100%;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 10px;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 9px;
    margin-left: 0;
    margin-right: 0;
    min-height: 80px;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-item-placeholder {
    background: none repeat scroll 0 0 #fff;
    color: #000;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url("next-horizontal.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: 5px;
    top: 43px;
    width: 32px;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    background-image: url("prev-horizontal.png");
    left: 5px;
    right: auto;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-next-disabled-horizontal, .more-view-slider .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover {
    background-position: -96px 0;
    cursor: default;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url("prev-horizontal.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 32px;
    left: 5px;
    position: absolute;
    top: 43px;
    width: 32px;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    background-image: url("next-horizontal.png");
    left: auto;
    right: 5px;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal, .more-view-slider .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover {
    background-position: -96px 0;
    cursor: default;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-next-vertical {
    background: url("../images/bg-btn.png") no-repeat scroll -35px -35px transparent;
    bottom: 2px;
    cursor: pointer;
    height: 35px;
    left: 34%;
    position: absolute;
    width: 35px;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -35px;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-next-disabled-vertical, .more-view-slider .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover {
    background-position: 0 -96px;
    cursor: default;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-prev-vertical {
    background: url("../images/bg-btn.png") no-repeat scroll -35px 0 transparent;
    cursor: pointer;
    height: 35px;
    left: 34%;
    position: absolute;
    top: 0;
    width: 35px;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 0;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-prev-disabled-vertical, .more-view-slider .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover {
    background-position: 0 -96px;
    cursor: default;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-item a {
    height: 100%;
}
.more-view-slider .jcarousel-skin-tango .jcarousel-item a img {
    max-height: 100%;
}
