/**
 * Developer: Rene Voorberg
 * Team site: http://cmsideas.net/
 * Support: http://support.cmsideas.net/
 * 
*/
i.glace
{
	font-family: 'Special Elite', cursive;
	letter-spacing: 1px;
}

#glace-menu-report,
#glace-box-report
{
	font-family: 'Francois One', sans-serif;
	letter-spacing: 1px;
	font-size:14px;
}
#glace-box-report table.actions
{
	margin: 2.5em 0;
}
#glace-box-report .grid tr.headings
{
	background-color: #D7E5EF;
	background-image: none;
}

.glace-arep-export {
    float: right;
    
}

.glace-arep-setup {
    float: right;
    margin-right: 10px;
    position: relative;
    
}

.glace-arep-setup img {
    margin-right: 5px;
}

ul.glace-column-container {
    margin: 5px;
}

.glace-column-overlay.show {
    display: block !important;
}

.glace-column-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    cursor: pointer;
    z-index: 90;
}

.glace-column {
    position: relative;
    height: 100px;
    float: left;
    border: 1px solid #D1CFCF;
    margin-right: 2px;
    margin-bottom: 2px;
}

.glace-column input.text.over, .glace-column input.text:focus {
    border-color: #ED6502 #A04300 #A04300 #ED6502;
}
.glace-column input.text {
    margin-bottom: 9px;
    margin-top: 10px;
    width: 90%;

    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font: 12px arial,helvetica,sans-serif;


}

.glace-column .glace-header {
    padding: 5px 10px;
    /*background: url("../../images/sort_row_bg.gif") repeat-x scroll 0 50% transparent;*/
    background-color:#D54C01;
    
    text-align: center;
    border-color: #F9F9F9 #D1CFCF #F9F9F9 #F9F9F9;
    border-style: solid;
    border-width: 1px;
}

.glace-column .glace-header span {
    
    color: #FFFFFF;
}

.glace-column .glace-header.over span {
    color: #DEDEDE;
}


/**
 *  Sku advisor section
 */

.glace_arep_sku_dropdown {
    background-color: #FFFFFF;
    border: 1px solid #ED6502;
    display: none;
    height: 0px;
    left: 31px;
    position: absolute;
    top: 19px;
/*    width: 122px;*/
    z-index: 10;
}

#product_sku_dropdown ul li {
    padding-left: 3px;
    padding-top: 1px;
    cursor: pointer;
/*    position: relative;*/
}

#product_sku_dropdown ul li span span.search {
    background-color: #f8e515;
}

#product_sku_dropdown ul li.active {
    background-color: #CDDDDD;
}


.glace_arep_sku_li_overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 122px;
    z-index: 1000;
}

.glace_arep_sku_loader {
    background: url("../images/ajax-loader.gif") repeat-x scroll 0 0 #FFFFFF;
    display: none;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 2px;
    width: 16px;
}

.advancedreports-admin-standardsales-index .content-header,
.advancedreports-admin-users-index .content-header,
.advancedreports-admin-bestsellers-index .content-header,
.advancedreports-admin-dayofweek-index .content-header,
.advancedreports-admin-hours-index .content-header,
.advancedreports-admin-product-index .content-header,
.advancedreports-country-index .content-header,
.advancedreports-users-index .content-header,
.advancedreports-sales-index .content-header,
.advancedreports-usergroups-index .content-header,
.advancedreports-purchased-index .content-header
{
	display:none;
} 
#glace-box-report .content-header
{
	display:block !important;
	 border-bottom: 4px solid #EE0000 !important;
}
#glace-box-report .content-header .icon-head
{
	padding-left:0px !important;
}
#glace-box-report
{
	width:80%;
	float:right;
} 
#glace-box-report button, 
#glace-box-report .form-button
{
	background-color: #EE0000;
	background-image: none !important;
}
.glace_arep_sku_loader.display, .glace_arep_sku_dropdown.display {
    display: block;
}

.glace_arep_sku_container {
    position: relative;
}

.glace_arep_sku_container input.input-text {
    width: 118px;
}

.glace_arep_sku_container input.loading {
    padding-right: 20px;
    width: 100px;
}

#glace-menu-report
{
	width:20%;
	float:left;
}
#glace-menu-report ul li{
	margin-bottom:0px;
	position:relative;
}
#glace-menu-report > ul{
	/*margin-right:30px;*/
	margin-top:46px;
}
#glace-menu-report ul.tabs
{
	background-image:none !important;
}
#glace-menu-report ul li a{
	line-height:20px;
	line-height:24px;
}
#glace-menu-report ul li a i{
	padding-right:10px;
}
ul.child-sales{
	background-color: #E7EFEF;
    display: none;
    left: 96%;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 9999;
	border-top: 1px solid #BEBEBE;
}
#glace-menu-report ul li ul.child-sales
{
	display:none;
}

#glace-menu-report ul li ul.child-sales li a
{
	background-color:#E7EFEF;
}

#glace-menu-report ul li:hover ul.child-sales
/*#glace-menu-report ul li.active ul.child-sales*/
{
	display:block;
	transition: all 3s ease 0s;
	-moz-transition: all 3s ease 0s;
	-webkit-transition: all 3s ease 0s;
}
ul.child-sales li {
	margin-bottom:0px !important;
}
ul.child-sales li a {
}
ul.child-sales li a:hover{
	background-color:#D8E6E6;
	background-image: url(../../images/tabs_link_over_bg.gif);
}
#glace-menu-report ul li.active a{
	background-color:#FFFFFF;
	background-image:none !important;
}
#glace-menu-report ul li.active li.active a,
#glace-menu-report ul li.active li:hover a
{
	background-color:#D8E6E6;
	background-image: url(../../images/tabs_link_over_bg.gif);
}
#glace-menu-report ul.tabs span
{
	background-image:none !important;
}
ul.child-sales li.active a{
	background-color:#D8E6E6 !important;
}
#glace-box-report .switcher {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border:none !important;
    display: inline-block;
    float: right;
    margin-bottom: 10px;
    padding: 10px;
}
#glace-box-report label
{
	/*color:#ffffff;*/
}
.setting-sale
{
	float:left;
}
.clear
{
	clear: both;
}
