<style>body {
	margin:0;
	padding:0;
    min-height: 100%;
    min-width: 1020px;
    font-family: Arial,Helvetica,sans-serif !important; font-size:11px;
	background: #fff;
	 
    }
#main{
position:absolute;
*position:static;
	/*padding:15px 0px;*/
	width:1020px;
	height:1px;}
img{
border:none;
}
.pagewidth{
}
.pagewidth, .pagecontainer {
	text-align:left;
	margin:0px auto 10px auto;
}
.pagecontainer {
	border:0px solid #dbdbdb;
	margin:0px auto 10px auto;
	width:1020px;
	background:#FFF;
}
 .pagecontainer table table table, span.ebay table,  .pagecontainer table table tr, {
 background:transparent;
}
#gnheader.gbhdr {
	background:#fff;
!important
}
#gnheader.gbhdr table {
	padding:0px !important;
}
.bckcover {
	padding-top:0px;
	background:url(cover.jpg);
}
table.tb_v4bc li a:link,  table.tb_v4bc li a:visited,  table.tb_v4bc li a:active,  .v4sem a:link,  .v4sem a:visited,  .v4sem a:active {
	color:#333;
	text-decoration:none;
}
table.tb_v4bc li a:hover,  .v4sem a:hover {
	color:#333333;
	text-decoration:underline;
}
td#LeftPanel {
	width:168px !important;
    padding-top: 0px !important;
}
#gnheader {
    width: 1020px !important;
		background:url(cover.jpg) !important;
}
table.tb_v4bc {
  width: 1020px !important;
	color:#999;
	padding-top:0px;
	background:url(cover.jpg);
	margin-bottom:-8px;
	padding-left:10px;
}
#LeftPanel div.lcat /*shop category header ko talako hover category links ko width control garne main class ujj*/ {
	width:195px; 
	/*border-left:5px solid #e2832d;*/
}
td#LeftPanel div div table tbody tr td div {
	/*background:transparent;*/
}
#LeftPanel table.v4acpcont,  #LeftPanel table.v4acpcont table.v4acp,  #LeftPanel table.v4acpcont table.v4midBox {
	width:199px !important;
	margin-right:0px;
	margin-left:0px;
	
}
td.v4accent,  td.v4hspacer {
	display:none !important;
}
tr.v4acp_mid {
	padding:20px !important;
	margin:10px !important;
	*margin-top:0px;
	background:#FFF;
	border:1px solid #dfdfdf;
}
tr.v4acp_head,  v4acp {
	height:0px !important;
	padding:0px !important;
	margin:0px !important;
background:none;
}
.v4ilist a:visited{
color:#A49C88 !important;
}
#LeftPanel td.v4title {
	height:25px !important;
	*height:25px;
    padding:0px;
	margin:0px;
	display:block;
	width:197px;
	background:#fff;
	border:1px solid #CECECE; background:#fff;}
.v4title h2 {
    color: #231f20  !important;
	font:11px/22px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
    padding: 1px 0 0 8px;
	*padding: 0px 0 0 13px;
	}
	
	
td#LeftPanel table.v4acpcont tbody tr td table.v4midBox tbody tr.v4acp_mid{
padding:0px !important;
background:#F3F3F3; 
}
/*#LeftPanel table {
	border:none !important;
}*/
#LeftPanel span.cnt {
	display:none !important;
}
div.lcat div.ttl {
	line-height:15px;
	border:1px #CCC solid;
	padding:0px 0px 0px 2px !important;
	margin:0px !important;
	font:Arial;
	font-size:12px;
	display:none; 
}
ul.lev1, ul.lev2, ul.lev3,  ul.lev1 li, ul.lev2 li, ul.lev3 li,  #LeftPanel td.oc ul,  #LeftPanel td.oc ul li,  #LeftPanel td.oc {
	*background:none;
	list-style-image:none !important;
	list-style-type:none !important;
	padding:0px !important;
	margin:0px !important;
	display:block;
	overflow:hidden; text-transform:capitalize;
}
ul.lev1 li a:link, ul.lev1 li a:visited, ul.lev1 li a:active {
font:11px/25px Arial, Helvetica, sans-serif;
color: #222;
list-style-position: inside;
margin:-1px 0 0 0px;
*margin:0px 0 0 0px;
padding:0px 0 1px 10px;
*padding:0px 0 1px 10px;
vertical-align:top;
overflow:hidden;
height: 25px;
display:block;
*height:19px;
}
ul.lev2 li a:link, ul.lev2 li a:visited, ul.lev2 li a:active,  ul.lev3 li a:link, ul.lev3 li a:visited, ul.lev3 li a:active,  a.all_cats:link,  a.all_cats:visited,  a.all_cats:active,  #LeftPanel td.oc li a:link,  #LeftPanel td.oc li a:visited,  #LeftPanel td.oc li a:active {
font:11px/25px Arial, Helvetica, sans-serif;
color: #222;
list-style-position: inside;
margin:0 0 0 0px;
padding:0px 0 1px 10px;
vertical-align:top;
overflow:hidden;
display:block;
*margin:0px 0 0 0px;
*height:19px;
height: 25px;
}
ul.lev2 li a:link,  ul.lev2 li a:visited,  ul.lev2 li a:active {
	padding:0px 0px 0px 20px;
}
ul.lev3 li a:link,  ul.lev3 li a:visited,  ul.lev3 li a:active {
	padding:0px 0px 0px 25px;
}
ul.lev1 li a:hover, ul.lev2 li a:hover, ul.lev3 li a:hover  a.all_cats:hover,  #LeftPanel td.oc li a:hover { color:#dd2523 !important;text-decoration:underline;}
div.lcat div.link a{
font:11px/25px Arial, Helvetica, sans-serif;
color: #222 ;
height: 25px;
padding:0px 0 1px 10px;
*padding:0px 0 1px 10px;
display:block;
}
a.all_cats{
font:11px Arial, Helvetica, sans-serif;
color: #222 ;
height: 25px;
padding:0px 0 1px 10px;
*padding:0px 0 1px 10px;
display:block;
	
}
#LeftPanel ul.lev1 span,  #LeftPanel ul.lev2 span,  #LeftPanel ul.lev3 span {
font: 11px/25px Arial, Helvetica, sans-serif !important;
padding:0px 0 1px 10px;
overflow:hidden;
display:block;
color:#dd2523;
height:25px;
}
#LeftPanel ul.lev2 span {
	padding:0px 0px 0px 20px;
}
#LeftPanel ul.lev3 span {
	padding:0px 0px 0px 25px;
}
.whiter-rcp {
	vertical-align:top;
	text-align:left;
	border:0px solid #FFFF00;
	margin-left:5px;
	padding-bottom:10px;
}
#LeftPanel td.v4mid {
	padding:0px !important;
	background:  transparent;
}
.v4f{}
 td.oc ul{ margin-bottom:15px !important;}
/*#LeftPanel table {
	border:none !important;
}*/
#LeftPanel span.cnt {
	display:none !important;
}
table#TopPromoArea .v4title {
	background: none repeat scroll 0 0 #FFF;
    border-bottom: 1px solid #EFEFEF;
    margin: 0;
}
table#TopPromoArea .v4title font {
	color:#777!important;
	padding-left:10px;
	*padding-left:14px;
	font:70 14px Arial, Helvetica, sans-serif;
	line-height:18px;
}
table#TopPromoArea td.v4mid {
	border:0px #000000 solid !important;
	
}
table#TopPromoArea td.v4footd {
	background:transparent !important;
	border:none !important;
}
table#TopPromoArea li a:link,  table#TopPromoArea li a:visited,  table#TopPromoArea li a:active,tr.v4acp_mid td.v4mid table.v4ilist tbody tr td table.gallery tbody tr td.details div.ttl a {
	color:#121212 !important;
	text-decoration:none !important;
	font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}
table#TopPromoArea li a:hover,tr.v4acp_mid td.v4mid table.v4ilist tbody tr td table.gallery tbody tr td.details div.ttl a:hover {
	color:e55137  !important;
}
.countClass,  .matchClass,  .keywordClass {
	color:#222 !important;
	background:none !important;
}
.whiter-n {
	display:none;
}
#v4-23_mid.whiter-mid,  #v4-22_mide,  #v4-15.cmpBr,  .v4-14,  #v4-14,  #v4-15.cmpb,  #v4-6.ctrlbr,  #v4-4.rs_box  table.grid {
	background:transparent !important;
	border:none !important;
}
td.picture,  td.details {
	color:#323232   !important;
	/*padding-left:10px;*/
}
 span.ship{
	 color:#000 !important;
 }
 div table.fixed tbody tr td div.clr span{
	font:normal 11px  Arial, Helvetica, sans-serif !important;
 
 
 }
td.picture a:link,  td.picture a:visited,  td.picture a:active,  td.prices a:link,  td.prices a:visited,  td.prices a:active,  td.time a:link,  td.time a:visited,  td.time a:active {
	color:#767575 !important;
	text-decoration:underline !important;
}
td.picture a:hover,  td.prices a:hover,  td.time a:hover {
	color:#767575 !important;
	text-decoration:none !important;
}
td.gallery table.gallery {
	height:350px;
	background:#fff;
	
	margin-left:0px;
	text-align:left;
	
	margin-top:3px; border:1px solid #fff; 
}
td.gallery table.gallery:hover{
-webkit-box-shadow:0 .0625em .25em rgba(51,65,80,.35);-moz-box-shadow:0 .0625em .25em rgba(51,65,80,.35);box-shadow:0 .0625em .25em rgba(51,65,80,.35);border-radius:5px;z-index:5;background:url(gallery-bg-active.jpg) right bottom no-repeat;border:1px solid #ccc;	border:0px solid e55137 ;}
table.gallery:hover   a{color:#dd2523 !important;}
div.ttl div{margin-bottom:0px !important;}
td.gallery table.gallery .image img {
}
html>body*td.gallery table.gallery {
}
td.gallery {
	padding-right:0px;
	text-align:center;
	height:302px;
}
table.gallery td.picture{
	padding:3px !important;
}
td.gallery .picture {
	height:150px !important;
	text-align:center; border:1px solid #cecece;
}
table.gallery .mi{ min-height:1px; padding-top:0px;}
td.gallery .picture:hover{border:1px solid e55137 ;}
 td.details div table.fixed tbody tr td span.bin{
	color:#000  !important;
    font:18px Arial, Helvetica, sans-serif;
	margin-left:-5px;
	*margin-left:0px;
	 padding:0 5px;
}
td.gallery a {
color:#222    !important;
font:11px/16px Arial, Helvetica, sans-serif !important;
margin-left:0px;
text-transform:none;
}
td.gallery a:hover {
	color:#dd2523  !important;
	text-decoration:none !important;
}
td.gallery table.gallery:hover {
	color:#e55137  !important;	
	
}
td.gallery div.ttl {
	background:none !important;
	margin-top:0px;
	position:relative;
}
td.gallery div.basics, td.gallery div.basics span {
	font-size:11px !important;
	font-weight:normal !important;
}
td.gallery .image a {
	margin:0 !important;
	width:auto !important;
}
td.gallery li span, td.gallery li {
	font-size:13px;
	color:#000000 !important;
	padding-left:2px;
}
table.nol {
	border-top:0px #000000 solid !important;
	border-bottom:1px #cecece  solid !important;
	height:35px;
}
.li td.prices{
	color:#222;
}
.li td.fshp, .li td.prices span.fshp, .li td.fshp span.fshp, .li td.ship span.fshp{ color:#000;}
div.cmpb{
	    background-color: #fff;
	text-transform:uppercase;
}
table.cmpb {
	background:transparent !important;
	border:none !important;
}
table.nol td.details a:link,  table.nol td.details a:visited,  table.nol td.details a:active {
color: #000!important;
    font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif !important;
    margin-left: 0;
	text-decoration:none;
}
div#lvc.lview table.li tbody tr td.bids img{
background:#FFFFFF;
}
div.cmpb{
background:#f9f9f !important;
border:none !important;
}
table.nol td.details a:hover {
	text-decoration:underline;
	font-weight:bold;
}
.v4ilist a:link{
color:#000 ;
font-weight:bold;
}
table.gallery img{
background:#FFF ;
}
 div.ttl img.ii{
background:none !important;}
td#CentralArea table.r3 {
	margin:0;
	padding:0;
	border:0;
background-color:#FFF;
	height:25px;
	line-height:25px;
	margin-left:0px;
	margin-top:4px;
		*margin-left:0px;
		*float:left;
		*border:0px solid #fff;
}
td#CentralArea td.r3_bl {
	margin:0;
	padding:0;
	border:0;
	width:633px;
	height:0px;
	}
td#CentralArea div.itemseparator {
	margin:0;
	padding:0px 0;
	border:0;
}
td#CentralArea .ctrlbr {
	margin:0;
	padding:0px 10px;
	border:0; /*border-bottom:1px solid #CECECE;*/ background:none; float:left;
}
.r3_bl b {
	border:none;
	background:none;
}
.r3_t i, .r3_bl i {
	border:none;
}
.r3_hm, .r3_c, .r3_s {
	border:none;
}
div.fpcc{
padding: 0px 0 7px 2px;
background-color:#fff; border-bottom:1px solid #CECECE; 
/*opacity: 0.5;
  filter: alpha(opacity = 50);
*/
}
td#LeftPanel table.v4midBox table.v4nl {
	width:100% !important;
	padding:5px !important;
	padding-left:0px;
	margin-left:0px;
	text-align:center;
}
td.gallery td.details div {
	background:none !important;
	border:none !important;
}
td.gallery td.details a:link,  td.gallery td.details a:visited,  td.gallery td.details a:active {
	font-family:  Arial, Helvetica, sans-serif;
	text-decoration:none;
}
table.gallery tbody tr td.details div.ttl img.ii{
background-image:none;
}
span.label,  td.prev,  a.disabled {
	color:#5a5a5a !important;
	font:normal 11px Arial, Helvetica, sans-serif;
}
div.itemseparator {
	display:none;
}
.grid td.left {
	border-left:0px solid #333; padding:0px 10px;
}
#sModule {
padding-bottom:10px;
}
#glbfooter {
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	*width:898px;
	text-align:center;
	*position:absolute;
	*margin-left: -13px !important;
}
#gf-l{ padding-bottom:2px;}
#glbfooter a {
color:#222 !important;
	font:normal 11px  Arial, Helvetica, sans-serif;
}
.g-pipe {
color:#4C4C4C !important;
	padding-top:5px;
}
#glbfooter a:hover {
	
	text-decoration: underline
}
#glbfooter .g-hlp .g-nav {
	padding-left:90px;
	padding-right:130px;
}
#glbfooter .g-hlp table {
	width:100%;
}
.footerBGPost {
	color: #222;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 5px 0 5px;
}
td#CentralArea div.v4stabl {
	margin-top:0px;
	color:#222;
	font:normal 11px Arial, Helvetica, sans-serif;
}
.v4sem {
	display:none;
}
#storercp_mid {
	margin-left:-11px;
}
div#sFooter {
	display:none;
}
.whiter-s_nf {
	display:none;
}
.stBadge {
    height: 60px;
	padding-left:0px;
	color:#222 !important; margin-top:0px;
}
 div.stBadge-midContent div table tbody tr td div.mbg a span.mbg-nw,div.stBadge-midContent div table tbody tr td div.mbg a span.mbg-nw, div.stBadge-midContent div table tbody tr td a{
 color:#4C4C4C !important;
 font:normal 11px  Arial, Helvetica, sans-serif !important;
 }
 
.stBadge-accent {
	display:none;
}
.v4acp {
	margin-top:10px;
	width:300px;
}
.v4vspacer {
	display:none;
}
.v4baccent {
	display:none;
}
.v4sbox {
	width:75px;
}
body table table table form table table {
	margin: 8px 0px 8px 0px;
}
body table table table form table input {
	margin: 8px 0px 0px 8px;
}
/*table#TopPromoArea tr.v4toppromos, table#TopPromoArea tr.v4toppromos table.v4acpcont {*/
table#TopPromoArea tr.v4toppromos, table#TopPromoArea{
	margin-left:0px;
		*margin-left:0px;
}
#logo {
	font-size:11px;
	color:#B527A9; float:right;
	text-decoration:none;
	z-index:2; 
	
}
#logo h1{
	*font-size:11px !important;
	background:url(uber-ebay-shop-design-small.png) 0 0 no-repeat;
	padding-left:65px;
	height:25px;
	line-height:22px; font-weight:normal;
	
}
#logo a {
	color:#000098;
	text-decoration:none;
}
#logo a:hover {
	color:#B527A9;
	text-decoration:underline;
	font-weight:bold
}
.g-pipe img {
	height: 0px
}
.g-nav {
	color: #000;
	
}
.cmpBr span.g-nav {
	color:#222; font-size:11px; float:right;
}
#CentralArea .cmpBr, #CentralArea .ctrlbr {
	border:none
}
.r3_c {
	border-width:0 0px !important;
}
.r3_cm {
	padding:0px;
	border:0px solid #282525; margin-top:-5px;
}
table.v4acp tr.v4acp_head td.v4title {
	color:#F93E04;
	font-weight:bold;
	padding:0px 0px 0px 0px;
	
	height:31px !important;
}
.rs-pview {
	padding:0 0px;
}
.stBadge-midContent td {
	padding-left:17px;
}
td.basics {
	width:110px;
}
#gnheader, .gh-w {
	background-attachment:scroll !important;
	background-color:transparent !important;
/*	background-image:url(cover.jpg) !important;
*/
	background-position:0 0 !important;
	background-repeat:repeat !important;
	min-width:760px;
	padding-bottom:10px;
	padding-left:0;
	padding-right:0;
	padding-top:10px;
}
div.pagewidth div.pageminwidth div.pagelayout div.pagecontainer table tbody tr td table tbody tr td#LeftPanel table.v4acpcont {
	margin-top:-16px;
	margin-left:1px;
	
}
.gh-emn {
	margin-right:2px;
	margin-top:-4px;
}
table.v4acpcont {
	margin-bottom: 20px;
	margin-top:-30px;
	width:308px;
}
/*----------------------added by ujj latest----------------*/
  table.v4acpcont tbody tr td table.v4midBox {
  border:none;
  margin-top:5px;
  *margin-top:0px;
}
#LeftPanel table.v4acpcont {
	background:none;
	border-bottom:none;
	margin:0 0 10px;
	padding:0 0 0px;
	border:0;
}
/*
_____________________________________________ */
#LeftPanel table.v4midBox {
	margin:0 0 16px 0;
	padding:0;
	border:0;
}
#LeftPanel table.v4midBox tr.v4acp_mid td.v4mid form table {
	margin:0;
	padding:10px 10px 15px;
	border:0;
	color:#222; font:11px Arial, Helvetica, sans-serif;
}
#LeftPanel table.v4midBox tr.v4acp_mid td.v4mid {
		
}
#LeftPanel .v4clp td.oc li span {
    color: #222;
	text-decoration:underline;
    display: block;
    font:11px/25px Arial, Helvetica, sans-serif;
    height: 32px;
    list-style-position: inside;
    margin: -1px 0 0 0;
    overflow: hidden;
    padding: 0 0 1px 10px;
    vertical-align: top;
	}
div#glbfooter.coreFooterLinks table tbody tr td {
	background:transparent;
}
table.v4midBox {
 border-bottom: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
	}
.right_bottom{  padding:0 0 9px 0; border:0; 
}
/*----------------top navbar css------------------*/
.topnav{
/*table-layout:fixed;*/
}
/*-------------------------------------------------------------------------------------------------*/
/*------------------------------------topnavcss ends here---------------------------------------------*/
.r3_t, .r3_t b, .r3_bl, .r3_bl b {
background:#FFF;
}
/*---------------------two promo box on top------------------------------------*/
td.v4topleft .v4wfc, td.v4topright .v4wfc {
    height: 130px;
}
div.lcat div.ttl {
	line-height:15px;
	border:1px #CCC solid;
	padding:0px 0px 0px 2px !important;
	margin:0px !important;
	font:Arial;
	font-size:11px;
	display:none;
}
.seachinput{
margin:0px !important;
color:#256998;
}
.seachinputText{
margin:0px 10px 0px 0px !important;
color:#256998;
border:none;
}
 div.newset_wrapper div.caroufredsel_wrapper ul#foo2 li a:visited{
  color: #307FB9;
 }
/*****RIGHT CONTENT****/
#right{
float: right;
    left: 827px;
	*left: 835px !important;
    position: absolute;
    top: 0px;
	*top: 12px;
    width: 153px;	  
	 }
	  
#right_flash{
position:absolute;
	width:120px;
	*width:110px;
	float:right;
	left: 856px;
	*left: 1147px;
	border:1px solid #E6E6E6;
 -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; background:#f5f5f5;
}
#right_flash ul{
	padding:0px;
	list-style:none;
	margin: -12px 0 0;
	}
#right_flash ul .linkmenu_list_footer{
    min-height: 12px;
}
#right_flash li{
	padding:0px;
}
#right_flash ul li{
	padding:5px 5px 5px 4px;
	*padding:9px;
	 
}
#foo1_prev {
    background: url("up.png") no-repeat scroll 0px 0 transparent;
    display: block !important;
    height: 21px;
    margin: 0 auto;
    padding: 3px;
    width: 24px;
}
#foo1_prev:hover{
    display: block !important;
		opacity:40%;
}
#foo1_next{
    background: url("down.png") no-repeat scroll 0px 0 transparent;
    display: block !important;
    height: 21px;
    margin: 0 auto;
    padding: 3px;
    width: 24px;
}
#foo1_next:hover{
    display: block !important;
	opacity:40%;
}
 #logo h1 {
    float: right;
    font-size: 11px;
    margin: 0;
}
.logo_name {
    float: left;
    width: 78px;
	color:#000098;
	line-height:22px;
	}
	
span.pdmt .cur{
color:#222;
text-transform:uppercase;
font:11px Arial, Helvetica, sans-serif;
}
span#v4-31.pdmt span#v4-32.cur img, span#v4-25.pdmt span#v4-26.cur img
{
display:none;
}
.stBadge-text {
    color: #222 ;
    font: bold 11px  Arial, Helvetica, sans-serif;
}
/*-----css fix---*/
 span.bid{
    font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	 
 }
table.gallery table.fixed div.time2 {
width:120px;
}
table.gallery div.ttl{
font:normal 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
text-transform:capitalize;
}
div#storercp_mid.whiter-mid div#storercp_mide div.stBadge-midContent div table tbody tr td table{
display:none;
}
div#splitter{
display:none;
}
table.v4nl td{
	font:normal 11px "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	text-align:justify;
}
</style>