/*left top*/
.block-layered-nav .category-title {
  background: none;
  border-bottom: medium none;
  font-weight: bold;
  margin-bottom: 0;
  text-align: left;
}
.block-layered-nav .category-title h1 {
  font-weight: bold;
  padding-bottom: 5px;
}
.block-layered-nav .category-title.active {
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
.block-layered-nav .m-filter-group {
  display: none;
}
.block-layered-nav .m_left_category_filter {
  border-top: none;
}
.block-layered-nav dd {
  padding-left: 1px;
}
.block-layered-nav dd li:before {
  content: none;
}
/*pages*/
.toolbar .pager {
  margin-top: 0;
  padding-bottom: 6px;
}
.toolbar .pager .pages {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.toolbar .pager .amount {
  display: none;
}
.toolbar .sorter {
  display: none;
  /*        float: right;
        margin-right: 300px;
        margin-top: -44px;*/
}
/*price slider*/
#left_price-span,
.m-filter-slider > .m-slider-span {
  border-bottom: 2px solid #666;
  /*height: 9px;*/
  margin-top: 8px;
  margin-left: -9px;
}
#left_price-track #left_price-to,
#left_price-track #left_price-from,
.m-filter-slider > .m-slider-from,
.m-filter-slider > .m-slider-to {
  /*background: url("../images/manapro_filterslider/slider.png") no-repeat scroll 0 0 transparent;*/
  height: 17px;
  width: 17px;
  /*margin-top:3px;*/
}
#left_price-track #left_price-to,
.m-filter-slider > .m-slider-to {
  background: url("../images/manapro_filterslider/slider.png") no-repeat scroll -19px 0 transparent !important;
}
#left_price-track #left_price-from,
.m-filter-slider > .m-slider-from {
  background: url("../images/manapro_filterslider/slider.png") no-repeat scroll 0 0 transparent !important;
}
.m-filter-slider,
.m-filter-slider {
  background: url("../images/manapro_filterslider/bkg_slider.png") repeat-x scroll 0 0 transparent !important;
  border: medium none;
}
/*product image*/
.products-grid .product-image {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #ffffff;
  height: 455px;
  width: 320px;
}
.products-grid li.item {
  margin-right: -5px;
  padding-left: 15px;
  padding-right: 5px;
}
.products-grid .item:hover .product-image .product-image-small {
  margin-left: auto;
  margin-right: auto;
}
.products-grid > li:hover .add-to-links {
  left: 55px;
  top: -460px;
}
.tc {
  text-align: center;

}
/*product detail page*/
.col1-layout .product-view .product-name h1 {
  font-size: 32px;
  line-height: 32px;
  padding-top: 2.5em;
}
.col1-layout .product-view .product-shop {
  float: right;
  width: 30%;
margin-top:25px;
}
.col1-layout .product-view .product-img-box {
  text-align: center;
  width: 69%;
}
.col1-layout .product-view .add-to-links {
  border-bottom: none;
  border-top: none;
}
.col1-layout .product-view .price-box {
  text-align: center;
}
.col1-layout .product-view .add-to-links li .link-wishlist {
  margin-left: auto;
  margin-right: auto;
}
.col1-layout .product-view .link-wishlist:hover {
  transform: scale(1.1);
}
.col1-layout .product-view .product-options-bottom .add-to-links {
  display: none;
}
.col1-layout .product-view .product-options {
  border-top: none;
}
