#custommenu {
    position: relative;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    border-radius: 2px;
    height: auto;
    margin: 0 auto;
}
/*IE7 fix*/
*:first-child+html #custommenu {
    z-index: 998;
}
div.menu {
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
div.menu a:link, div.menu a:visited {
    display: block;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
div.menu a span {
    display: block;
    height: 28px;
    padding-right: 0px;
    padding-top: 12px;
font-family:title;
}
div.menu a span:hover {
    cursor: pointer;
}
div.wp-custom-menu-popup {
    position: absolute;
    z-index: 1000;
    display: none;
    text-align: left;
    /* padding: 0px 0px 10px 0px; */
    border-top: 0;
    width: 100%;
    /* margin-top:25px; */
}
div.menu a, div.wp-custom-menu-popup a {
    text-decoration: none;
    display:block;
    cursor: pointer;
    _height: 0;
    height: auto;
    line-height:26px;
	/*color: #fff;*/
	font-family: vf_sansregular,Arial,Helvetica,sans-serif;
}

div.menu .itemSubMenu a span, div.wp-custom-menu-popup .itemSubMenu a span  {
    
	border-bottom:0px solid #ccc;
	line-height:25px;
}



div.menu:hover .parentMenu a {
text-decoration: underline;
        color:#fff;
    }
.inctive .parentMenu span { color: #eeeeee; }
.active .parentMenu span { color: #3d3d3d; }
div.level1 {
    margin-bottom: 5px;
}
div.level2 {
    margin-bottom: 5px;
}
div.level3 {
    margin-bottom: 5px;
    padding: 5px;
}
#custommenu .inactive .parentMenu span { color : #000 ; }
div.block2 {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}
a.level1:link, a.level1:visited {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 2px;
}
a.level2:link, a.level2:visited {
    padding: 0px 10px;
    border-radius: 2px;
}
/* Clearfix */
div.block2:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] div.block2 {
    display: block;
}
* html div.block2 {
    height: 1%;
}
div.block2 p {
    margin-bottom: 3px;
    line-height: 120%;
    color: #000;
    font-size: 11px;
}
div.block2 p a {
    display: inline;
}
div.block2 a img {
border:3px solid white; 
}
div.block2 a:hover img {
border: 3px solid black; 
}
div.block2 .brand a:hover img {
    -webkit-transition: all 0;
    -moz-transition: all 0;
    -ms-transition: all 0;
    transition: all 0;
}
div.wp-custom-menu-popup hr {
    margin: 0px 0px 10px 0px;
}
/******************************************* COLUMN WIDTH ***************************** */
div.column {
   /* float: left;*/
    width: 33%;  /*for 5 columns*/
    padding: 0px 1%;
    margin: 0px 0px 0px 0px;
	float: right;
}
/*end COLUMN WIDTH  */

div.itemSubMenu {
    margin-left: 0px;
}
.clearBoth {
    clear:both;
   /* height: 10px; */
    overflow: hidden;
}
div.level1 {
    margin-bottom: 0px;
}
/*BG*/
#custommenu {
}
div.wp-custom-menu-popup {
	 animation: 1s ease-in 0.3s normal forwards 1 fadein;
	/* background : url(../images/shdow-bg.jpg) #ededed ; */
    /* background: none repeat scroll 0 0 rgba(240, 240, 240, 0.97); */

	  padding: 15px;
}
.header-secondary-nav-shadow {
    box-shadow: 0 2px 3px rgba(34, 34, 34, 0.1);
    height: 10px;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: 999;
}
div.menu a:link, div.menu a:visited {
}
div.menu a:hover {
    background: none;
}
div.menu a, div.wp-custom-menu-popup a {
 -webkit-transition: all .3s linear;
-moz-transition: all .3s linear;
-ms-transition: all .3s linear;
transition: all .3s linear;
}
div.menu .brand a, div.wp-custom-menu-popup .brand a {
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -ms-transition: all 0s linear;
    transition: all 0s linear;
}
div.menu.active a {
    background: #fff !important;
    color: #939393 !important ;
}
div.level3 {
    background: #fff;
}
/*FONTS*/
div.menu {
    font-size: 18px;
    text-transform: uppercase;
    font-family: vf_sansregular,Arial,Helvetica,sans-serif;
    text-decoration:none;
}
a.level1:link, a.level1:visited {
    text-transform: uppercase;
    font-weight: normal;
	font-size: 12px;
}
a.level2:link, a.level2:visited {
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
}
a.level3:link, a.level3:visited {
    font-size: 11px;
    font-weight: normal;
    line-height: 100%;
    margin-bottom: 0px;
}
/*COLOR*/
div.menu a:link, div.menu a:visited {
   /* color: #000; */
}
.parentMenu a:hover {  color: #939393; }
div.menu a:hover, div.menu.active a {
    text-decoration:none;
}
a.level3:link, a.level3:visited {
    color: #333333;
}
a.level3:hover {
    color: #b43f74;
}
a.level2:link, a.level2:visited {
    color: #000;
}
a.level1:hover {
/*    background: #d3d3d3; */
	font-weight: regular;
    color: #c4c4c4;
}
a.level2:hover {
    color: #c4c4c4;
    /*background: #d3d3d3;*/
}
.block2 table.brand {
    float: left;
}
.block2 .single_menu_product {
    float: left;
    position: relative;
    max-width: 150px;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 0px;
}
/*MOBILE MENU STYLES*/
#menu-button, .parentMenu {
    display: inline-block;
}
html[xmlns] #menu-button, html[xmlns] .parentMenu {
    display: block;
}
* html #menu-button, * html .parentMenu {
    height: 1%;
}
#menu-button:after, .parentMenu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#custommenu-mobile {
    position:relative;
    margin: 0 auto;
    padding: 0;
    z-index: 999;
}
#menu-button {
    float: none;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
   /* border-bottom: 1px solid #fff;*/
    text-transform: uppercase;
	background:#ddd;
}
#menu-button a:link, #menu-button a:visited {
    color: #000;
    display: block;
    float: left;
    margin-left: 45%;
    position: relative;
    padding: 0px 10px;
}


@media (min-width: 360px) and (max-width: 980px){
#menu-button a:link, #menu-button a:visited {
    margin-left: 30%;
}
#menu-button {
    background: none repeat scroll 0 0 #ddd;
    margin: 0 15px;
    padding: 10px 0;
    width: 83%;
}
.nav-container {margin:10px 0 !important;}
}
@media only screen and (max-width: 360px) { 
 /*  .header .logo {float:none !important;} */
   #menu-button a:link, #menu-button a:visited {
    margin-left: 43%;
}
.blog-container{display:none;}
.360blog{display:block;}
}


#menu-button a span:after {
    display: block;
    position: relative;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 4px solid #dadada;
    margin: 8px 0px 0px 5px;
    float: right;
    opacity: 0.7;
}
#menu-button:hover {
    cursor: pointer;
}
#menu-button:hover a:after {
    opacity: 1;
}
.menu-mobile div.column {
    float:none;
    padding:5px;
    background: #fff;
}
.menu-mobile a.itemMenuName {
    display: block;
    text-align: left;
}
.menu-mobile div.menu-button, .menu-mobile div.menu-mobile {
    float: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.menu-mobile div.column {
    float: none;
    width: 100%;
    padding: 0px 0;
    margin: 0px 0px 0px 0px;
}
.menu-mobile a.level1:link, .menu-mobile a.level1:visited {
    margin-top: 0px;
    margin-bottom: 0;
    padding: 10px 10px;
    border-radius: 2px;
    color: #000;
}
.menu-mobile a.level2:link, .menu-mobile a.level2:visited {
    padding: 10px 10px;
    border-radius: 2px;
}
.menu-mobile a.level1:link, .menu-mobile a.level1:visited {
    color: #555;
}
.menu-mobile a.level1:hover {
    background-color: #f1f1f1;
}
.menu-mobile .parent {
    background-color: #fff;
}
/*buttons level 01*/
.menu-mobile .parentMenu {
    padding: 0px 0px;
    display: block;
    text-align: left;
    border-bottom: 1px solid #dadada;
}
.menu-mobile .parentMenu a:link, .menu-mobile .parentMenu a:visited {
    padding: 10px 0px 10px 10px;
    margin-right: 80px;
    color: #000;
    display: block;
}
.menu-mobile .parentMenu:hover {
    cursor: pointer;
}
.parentMenu {
    position: relative;
}
.parentMenu a {
    display: block;
}
#menu-button {
    cursor: pointer;
}
.menu-mobile div.level2 {
    margin-bottom: 0;
}
#custommenu-mobile .button {
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 0px;
    display: block;
    width: 80px;
    height: 38px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJxJREFUeNpi/P//PwM66O3tBVF1UNwEwsXFxRjqmBhwg3wgZobSWAE+zcxoNEmaCQKKNDP29PTgkvsAxPxA/BGIBXDZ3A7Ef4D4Pxrmh6rhxyL3E4gbQZqL8AUKDsAG0gfS3AfEf0nU/AuIJ4I0VwIxC8j/aPgjVOFHLHLsQFzDiCeFoQQYqSmMtvGMT/NfNJokzQug9HRcCgACDAC34CnSSWx3zwAAAABJRU5ErkJggg==);
}
#custommenu-mobile .button.open {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE5JREFUeNpi/P//PwO5gImBAjBENbP09vZSZHM7EP8B4v8k4J9A3AjSXATEzCRaygbSB9LcB8R/SdT8C4gnsgCJSigmGTCOpjDSAECAAQBI6RqpQRaDFgAAAABJRU5ErkJggg==);
}
#custommenu-mobile .level1 .button {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIxJREFUeNpi/P//PwO5gAWbYG9vL4ZYcXExhhgTAwUAn+YJQAzyUxcuBYwwP2Nx6k8gZgPid0AsjM0L+Gxmg9LMxDob5lTkKOBHEuvCpzmZQBgl4NNcD8SvcWgEiTfhi+c+KGZAcvpHIBbAG9pYEglKaJOaSCqB+BrUK8QnTyxeYCDa2dRIngQBQIABAGG6KfxEmzSnAAAAAElFTkSuQmCC);
}
#custommenu-mobile .level1 .button.open {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpi/P//PwO5gImBAjBwmllgjN7eXqI1FRcXU9/ZE4D4Px7chU9zMgHLEvBprgfi1zg0gsSbsAYYFPRBMVGAcQSmMIo0AwQYAIYUFeQ3G04OAAAAAElFTkSuQmCC);
}
/*BG*/
#custommenu-mobile  .parentMenu:hover a:link, #custommenu-mobile  .parentMenu:hover a:visited, #custommenu-mobile  .parentMenu:hover {
    background-color: #fff;
}
#custommenu-mobile .level0 {
    background-color: #f1f1f1;
}
#custommenu-mobile .level1 {
    background-color: #e4e4e4;
}
#custommenu-mobile .level2 {
    background-color: #f1f1f1;
}


.block1 {
    /* border-right: 1px solid #999; */
    float: left;
    width: 60%;
}
.block2 {
    float: left;
   /* margin-top: 10px; */
    width: 40% !important;
}
.template_dropdown_content_image {
  /*  border: 1px solid #ddd; */
}
.template_dropdown_content_image_container_first {
    float: left;
    margin: 0.5% 2% 0% ;
	background: none repeat scroll 0 0 #fff;
}
.template_dropdown_content_text {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
}
.template_dropdown_content_text > a {
    color: #000;
}
