/**
 * @category    Mana
 * @package     ManaPro_FilterCheckboxes
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
ol.m-filter-css-checkboxes li a.m-checkbox-unchecked {}
ol.m-filter-css-checkboxes li a.m-checkbox-checked { background: transparent url(../images/manapro_filtercheckboxes/checkbox_checked.png) 100% 0 no-repeat; padding-right:18px;}
/*ol.m-filter-css-checkboxes li a.m-checkbox-unchecked:hover { opacity:0.5; filter: alpha(opacity=50); }
ol.m-filter-css-checkboxes li a.m-checkbox-checked:hover { opacity:0.5; filter: alpha(opacity=50);}*/
ol.m-filter-css-checkboxes li a.m-checkbox-unchecked,
ol.m-filter-css-checkboxes li a.m-checkbox-checked { padding-left: 1px; text-decoration: none; }

.m-filter-checkboxes li input { margin-right: 5px; position: relative; bottom: 2px; }