<?php
$checkout = Mage::getSingleton('checkout/type_onepage');

$allowed_guest_checkout = Mage::helper('checkout')->isAllowedGuestCheckout($this->getQuote());
$checkout_method = $checkout->getCheckoutMethod();
/** @var $helper EcommerceTeam_Tcheckout_Helper_Data */
$helper = Mage::helper('ecommerceteam_tcheckout');
?>
<h2><?php echo $this->__('Billing Address'); ?></h2>

<ul class="form-list">
    <?php if ($this->customerHasAddresses()): ?>
        <li class="wide">
            <label for="billing-address-select"><?php echo $this->__('Select a saved address or enter a new address.') ?></label>
            <div class="input-box">
                <?php echo $this->getAddressesHtmlSelect('billing') ?>
            </div>
        </li>
    <?php endif; ?>
    <li id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
        <fieldset>
            <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
            <ul>
                <li class="fields"><?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?></li>
                <li class="fields">
                    <?php if (!$this->isCustomerLoggedIn()): ?>
                        <div class="field">
                            <label for="billing:email" class="required"><?php echo $this->__('Email Address') ?></label>
                            <div class="input-box">
                                <input type="text" name="billing[email]" id="billing:email" value="<?php echo $this->htmlEscape($this->getAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry email-info" />
                            </div>
                        </div>
                    <?php endif ?>
                    <div class="fieldcompany">
                        <label for="billing:company"><?php echo $this->__('Company (Optional)') ?></label>
                        <div class="input-box">
                            <input type="text" id="billing:company" name="billing[company]" value="<?php echo $this->htmlEscape($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text company-info" />
                        </div>
                    </div>

                    <div class="field">
                        <label for="billing:telephone" class="required"><?php echo $this->__('Phone') ?></label>
                        <div class="input-box">
                            <input type="text" name="billing[telephone]" value="<?php echo $this->htmlEscape($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry telephone-info" id="billing:telephone" />
                        </div>
                    </div>
                </li>
                <li class="wide">
                    <label for="billing:street1" class="required"><?php echo $this->__('Address') ?></label>
                    <div class="input-box">
                        <input type="text" title="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="street1-info input-text required-entry" />
                    </div>
                </li>
                <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                    <li class="wide address-<?php echo $_i; ?>">
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="billing[street][]" id="billing:street<?php echo $_i ?>" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet($_i)) ?>" class="input-text" />
                        </div>
                    </li>
                <?php endfor ?>
                <li class="fields">
                    <div class="field">
                        <label for="billing:city" class="required"><?php echo $this->__('Town/City') ?></label>
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('City') ?>" name="billing[city]" value="<?php echo $this->htmlEscape($this->getAddress()->getCity()) ?>" class="input-text city-info required-entry" id="billing:city" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="billing:region_id" class="required"><em>*</em><?php echo $this->__('County (Optional)') ?></label>
                        <div class="input-box">
                            <select class="region-info" id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('County') ?>" class="validate-select" style="display:none;">
                                <option value=""><?php echo $this->__('Please select your county') ?></option>
                            </select>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('billing:region_id').setAttribute('defaultValue', "<?php echo $this->getAddress()->getRegionId() ?>");
                                //]]>
                            </script>
                            <input class="region-input" type="text" id="billing:region" name="billing[region]" value="<?php echo $this->htmlEscape($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('County') ?>" class="input-text" style="display:none;" />
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <label for="billing:postcode" class="required"><?php echo $this->__('Postcode') ?></label>
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->htmlEscape($this->getAddress()->getPostcode()) ?>" class="input-text validate-zip-international required-entry postcode-info" />
                        </div>
                    </div>
                    <div class="field country-add">
                        <label for="billing:country_id" class="required"><?php echo $this->__('Country') ?></label>
                        <div class="input-box">
                            <?php echo $this->getCountryHtmlSelect('billing') ?>
                            <input style="display:none;" class="country-info" value="" />
                        </div>
                    </div>
                </li>

                <?php if (!$this->isCustomerLoggedIn()): ?>

                    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                    <?php if ($_dob->isEnabled() || $_gender->isEnabled()): ?>
                        <li class="fields">
                            <?php if ($_dob->isEnabled()): ?>
                                <div class="field">
                                    <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($_gender->isEnabled()): ?>
                                <div class="field">
                                    <?php echo $_gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                                </div>
                            <?php endif ?>
                        </li>
                    <?php endif ?>

                    <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                    <?php if ($_taxvat->isEnabled()): ?>
                        <li>
                            <?php echo $_taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                        </li>
                    <?php endif ?>

                <?php endif; ?>
                <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()): ?>
                    <li class="control">
                        <input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="billing:save_in_address_book" onchange="if (window.shipping)
                                    shipping.setSameAsBilling(false);"<?php if ($this->getAddress()->getSaveInAddressBook()): ?> checked="checked"<?php endif; ?> class="checkbox" /><label for="billing:save_in_address_book"><?php echo $this->__('Save in address book') ?></label>
                    </li>
                <?php else: ?>
                    <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
                <?php endif; ?>
                <?php if (!$this->isCustomerLoggedIn()): ?>
                    <?php if ($allowed_guest_checkout): ?>
                        <?php /*
                          <li class="control">
                          <div class="field">
                          <input checked="checked" class="radio" id="customer_account_create" onclick="if(this.checked){$('register-customer-password').style.display='block';}else{$('register-customer-password').style.display='none';}" type="checkbox" <?php if($checkout_method == 'register'):?>checked="checked"<?php endif;?> name="create_account" value="1"  />
                          <label for="customer_account_create"><?php echo $this->__('Create Account');?></label>
                          </div>
                          </li>
                         */ ?>
                    <?php endif; ?>

                    <li class="fields" id="register-customer-password" <?php if ($allowed_guest_checkout && $checkout_method != 'register'): ?>style="display:block;"<?php endif; ?>>
                        <div class="field">
                            <label for="billing:customer_password" class="required"><?php echo $this->__('Password') ?></label>
                            <div class="input-box">
                                <input type="password" name="billing[customer_password]" id="billing:customer_password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="billing:confirm_password" class="required"><?php echo $this->__('Confirm Password') ?></label>
                            <div class="input-box">
                                <input type="password" name="billing[confirm_password]" title="<?php echo $this->__('Confirm Password') ?>" id="billing:confirm_password" class="input-text required-entry validate-cpassword" />
                            </div>
                        </div>
                    </li>
                <?php endif; ?>
            </ul>
        </fieldset>
    </li>

</ul>
<?php if ($helper->showSubscribe()): ?>
    <div class="subscribe-newsletter"><input type="checkbox" name="subscribe" checked value="1"/><label> <?php echo $this->__('Subscribe to newsletter'); ?></label></div>
    <?php endif; ?>
<input type="hidden" name="billing[use_for_shipping]" value="1" />
