.header_top .currency-list1{
	width: 38px !important;
}
#curencysimbole{
font-size: 9px;
position: relative;
top: 3px;
}

.header-button.currency-list1 > a
 {
color: white;
	font-size:11px;
	line-height:21px;
	text-transform:capitalize;
	text-align:center;
	width:100%;
}
.header-button.currency-list1 > a:after{
	 display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0 !important;
}
.header_top .currency-list1 {
float: left;
margin-right:0px;
margin-top: 2px;
padding-bottom: 9px;
}
.currency-list1 {
float: left;
margin-right: 15px;
margin-top: 5px;
padding-bottom: 9px;
}
.header_top .currency-list1 > a:after {    content: none;}

.header .links li {
    color: #fff;
}
.tophead_right .links li.last {
    border: 0!important;
}
.header .links li.first-top {
    padding-right: 10px;
}
.header .links li.add-li span {
    position: relative;
    top: 1px;
font-size:10px;
font-family:impact;
}
.custom-servis-ul .tab-title {
    display: none!important;
}
.custom-servis-ul>li{
	display:none;
}
.block-amseorichdata {
    display: none;
}

/* David style */

.cart-indent .cart-top {
    display: none;
}
.cart-indent .bag {
    padding-left: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
.template_dropdown_content_text a {
    line-height: 20px !important;
}

/* end David */