<?php
	
	$checkout = Mage::getSingleton('checkout/type_onepage');
	$can_ship = !$checkout->getQuote()->isVirtual();
?>
<script>
var js = jQuery.noConflict();
js(document).ready(function(){
	var getvl = js(".shipping-method .shipping-con").text();
	//alert(getvl);
	if(getvl!=''){
		js('.cart-content-header').remove();
		js('.cart-indent').addClass('got-shipping');
		js('.shipping-method').show();
	} else {
		js('.shipping-method').hide();
	}
});
</script>
<div class="tcheckout-step tcheckout-step-address">
<div class="tcheckout-step-wrap">
<form id="tcheckout-form" method="post" action="<?php echo $this->getUrl('tcheckout/index/saveAddress')?>">
<fieldset>
	
	<?php if(!Mage::getSingleton('customer/session')->isLoggedIn()):?>
	<?php
	/* <p><a href="<?php echo $this->getUrl('customer/account/login');?>" onclick="TINY.box.show(loginFormHtml,0,260,0,0);return false"><?php echo $this->__('Already registered? Click here to login.');?></a></p> */
	?>
	
	<?php endif;?>
	
	<?php echo $this->getChildHtml('');?>
	<div class="buttons-set" id="shipping-buttons-container">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
		
        <table style="width:100%">
    	<tr>
	    	<td style="width:20%">
	        	
	    	</td>
	    	<td class="a-center">
	    	<strong id="tcheckout-please-wait" class="tcheckout-please-wait" style="display:none;">
	            <img src="<?php echo $this->getSkinUrl('images/m-wait.gif') ?>" alt="<?php echo $this->__('Loading, please wait...') ?>" title="<?php echo $this->__('Loading, please wait...') ?>" class="v-middle" /> <?php echo $this->__('Loading, please wait...') ?>
	        </strong>
	    	</td>
	    	<td style="width:20%">
	        <button id="tcheckout-save-btn" type="submit" title="<?php echo $this->__('Continue') ?>" ><span><span><?php echo $this->__('Continue') ?></span></span></button>
	    	</td>
    	</tr>
    	</table>
    </div>
</fieldset>

    
</form>
</div>
</div>
