<!--@subject Nieuwe klant registratie {{var store.getName()}} @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
								Nieuwe klant registratie voor {{var store.getName()}}.<br />
								Naam: {{var customer.getName()}}<br />
								Email: {{var customer.getEmail()}}
							</p>

							<p>
								Om de klant te activeren ga naar <a href="{{store url="adminhtml/customer"}}">Admin </a> en ga naar 
								Klanten &gt; Beheer klanten &gt; {{var customer.getName()}} &gt; Account Informatie en
								activeer het account.
							</p>

                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
