<?php
	$_product = Mage::registry('current_product') ? Mage::registry('current_product') : Mage::registry('product');
	$categoryPath = $this->getData('categoryPath');
?>
<?php if (! empty($categoryPath)) : ?>
	<meta itemprop="category" content="<?php echo $this->htmlEscape($categoryPath); ?>" />
<?php endif; ?>
<meta itemprop="identifier" content="sku:<?php echo $_product->getSku(); ?>" />
<meta itemprop="availability" content="<?php echo $_product->isAvailable() ? 'in_stock' : 'out_of_stock'; ?>" />
<?php if ($_product->getManufacturer()): ?>
<meta itemprop="brand" content="<?php echo $_product->getAttributeText('manufacturer')?>" />
<?php endif ?>
<?php if ($_product->getCondition()): ?>
    <meta itemprop="condition" content="<?php echo $_product->getAttributeText('condition')?>" />
<?php endif ?>
