<?php
	
	$checkout = Mage::getSingleton('checkout/type_onepage');
	$quote    = $checkout->getQuote();
	$can_ship = !$quote->isVirtual();
	
	
?>
<div class="billing-info">
<h2><?php echo $this->__('Deliver To');?></h2>
<ul class="tcheckout-customer-info">
	<li class="billing-address">
		<h4><?php echo $this->__('Billing Address');?></h4>
		<div>
			<?php echo $quote->getBillingAddress()->getFormated(true);?>
			<br />
			<?php 
			echo $quote->getBillingAddress()->getEmail();
			
			?>
		</div>
	</li>
	<?php if($can_ship):?>

	<li class="shipping-address">
		<h4><?php echo $this->__('Shipping Address');?></h4>
		<div>
			<?php echo $quote->getShippingAddress()->getFormated(true);?>
			<br />
			<?php 
		echo $quote->getBillingAddress()->getEmail();
		
		?>
		</div>
		
	</li>
	<li class="shipping-method">
		<h4><?php echo $this->__('Shipping Method');?></h4>
		<div class="shipping-con"><?php echo $quote->getShippingAddress()->getShippingDescription();?></div>
	</li>
	
	<?php endif;?>
</ul>
</div>