
<div class="order-review" id="checkout-review-load">
	<div class="info">
    <?php echo $this->getChildHtml('info') ?>
    </div>
    
    <div class="agreements">
		<?php echo $this->getChildHtml('agreements') ?>
	</div>
</div>