#custommenu {
    position: relative;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    border-radius: 2px;
    height: auto;
    margin: 0 auto;
}
/*IE7 fix*/
*:first-child+html #custommenu {
    z-index: 998;
}
div.menu {
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
div.menu a:link, div.menu a:visited {
    display: block;
    height: 49px;
    padding: 8px 10px 0 10px;
}
div.menu a span {
    display: block;
    height: 28px;
    padding-right: 0px;
    padding-top: 12px;
font-family:title;
font-weight:bold;
font-size:13px;
}
div.menu a span:hover {
    cursor: pointer;
}
div.wp-custom-menu-popup {
    position: absolute;
    z-index: 1000;
    display: none;
    text-align: left;
    /* padding: 0px 0px 10px 0px; */
    border-top: 0;
    width: 100%;
    /* margin-top:25px; */
}
div.menu a, div.wp-custom-menu-popup a {
    text-decoration: none;
    display:block;
    cursor: pointer;
    _height: 0;
    height: auto;
    line-height:10px;
}

div.menu .itemSubMenu a span, div.wp-custom-menu-popup .itemSubMenu a span  {
    
	border-bottom:0px solid #ccc;
	line-height:25px;
}



div.menu:hover .parentMenu a {
text-decoration: none;
        /*color:#fff;*/
    }
.inctive .parentMenu span {/* color: #eeeeee !important;*/ }
.active .parentMenu span { color: #fff; /*border-bottom:solid 3px #ffacac;*/ }
div.level1 {
    margin-bottom: 5px;
}
div.level2 {
    margin-bottom: 5px;
}
div.level3 {
    margin-bottom: 5px;
    padding: 5px;
}
#custommenu .inactive .parentMenu span { color : #000 ; }
div.block2 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
}
a.level1:link, a.level1:visited {
    padding: 0;
    border-radius: 2px;
}
a.level2:link, a.level2:visited {
    padding: 0;
    border-radius: 2px;
}
/* Clearfix */
div.block2:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] div.block2 {
    display: block;
margin-top:2em;
}
* html div.block2 {
    height: 1%;
}
div.block2 p {
    margin-bottom: 3px;
    line-height: 120%;
    color: #000;
    font-size: 11px;
}
div.block2 p a {
    display: inline;
}
div.block2 a img {
    opacity:1;
    filter: alpha(opacity=100);
}
div.block2 a:hover img {
 filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}
div.block2 .brand a:hover img {
    -webkit-transition: all 0;
    -moz-transition: all 0;
    -ms-transition: all 0;
    transition: all 0;
}
div.wp-custom-menu-popup hr {
    margin: 0px 0px 10px 0px;
}
/******************************************* COLUMN WIDTH ***************************** */
div.column {
   /* float: left;*/
    width: 50%;  /*for 5 columns*/
    padding: 0;
    margin: 0px 0px 0px 0px;
	float: right;
}
/*end COLUMN WIDTH  */

div.itemSubMenu {
    margin-left: 0px;
}
.clearBoth {
    clear:both;
   /* height: 10px; */
    overflow: hidden;
}
div.level1 {
    margin-bottom: 0px;
}
/*BG*/
#custommenu {
}

div.wp-custom-menu-popup {
	 animation: 0.1s ease-in 0s normal forwards 0.1 fadein;
	/* background : url(../images/shdow-bg.jpg) #ededed ; */
    /* background: none repeat scroll 0 0 rgba(255, 255, 255, 0.95); */
	 box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2);
     /* box-shadow: 0 0px 3px rgba(34, 34, 34, 0.3); */

}
.header-secondary-nav-shadow {
    box-shadow: 0 0px 5px rgba(34, 34, 34, 0.3);
    height: 10px;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: 999;
}
div.menu a:link, div.menu a:visited {
}
div.menu a:hover {
    background: none;
}
div.menu a, div.wp-custom-menu-popup a {
}
div.menu .brand a, div.wp-custom-menu-popup .brand a {
}
div.menu.active a {
    background: #000 !important;
    color: #000 !important ;
}
div.level3 {
    background: #fff;
}
/*FONTS*/
div.menu {
    text-transform: uppercase;
    text-decoration:none;
}
a.level1:link, a.level1:visited {
    font-weight: normal;
	font-size: 12px;
color:#333;
line-height:1.8em;

}
a.level2:link, a.level2:visited {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
a.level3:link, a.level3:visited {
    font-size: 11px;
    font-weight: normal;
    line-height: 100%;
    margin-bottom: 0px;
}
/*COLOR*/
div.menu a:link, div.menu a:visited {
   /* color: #000; */
}
.parentMenu a:hover {  color: #000; }
div.menu a:hover, div.menu.active a {
    text-decoration:none;
}
a.level3:link, a.level3:visited {
    color: #000;
}
a.level3:hover {
    color: #bbb;
}
a.level2:link, a.level2:visited {
    color: #000;
}
a.level1:hover {
/*    background: #fff; */
	font-weight: regular;
    color: #bbb;
}
a.level2:hover {
    color: #bbb;
    /*background: #fff;*/
}
.block2 table.brand {
    float: left;
}
.block2 .single_menu_product {
    float: left;
    position: relative;
    max-width: 150px;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 0px;
}
/*MOBILE MENU STYLES*/
#menu-button, .parentMenu {
    display: inline-block;
}
html[xmlns] #menu-button, html[xmlns] .parentMenu {
    display: block;
}
* html #menu-button, * html .parentMenu {
    height: 1%;
}
#menu-button:after, .parentMenu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#custommenu-mobile {
    position:relative;
    margin: 0 auto;
    padding: 0;
    z-index: 999;
}
#menu-button {
    float: none;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
   /* border-bottom: 1px solid #fff;*/
    text-transform: uppercase;
	background:#ddd;
}
#menu-button a:link, #menu-button a:visited {
    color: #000;
    display: block;
    float: left;
    margin-left: 45%;
    position: relative;
    padding: 0px 10px;
}


@media (min-width: 360px) and (max-width: 980px){
#menu-button a:link, #menu-button a:visited {
    margin-left: 30%;
}
#menu-button {
    background: none repeat scroll 0 0 #ddd;
    margin: 0 15px;
    padding: 10px 0;
    width: 83%;
}
.nav-container {margin:10px 0 !important;}
}
@media only screen and (max-width: 360px) { 
   .header .logo {float:none !important;}
   #menu-button a:link, #menu-button a:visited {
    margin-left: 43%;
}
.blog-container{display:none;}
.blogheader{display:block;}
}

#menu-button a span:after {
    display: block;
    position: relative;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 4px solid #dadada;
    margin: 8px 0px 0px 5px;
    float: right;
    opacity: 0.7;
}
#menu-button:hover {
    cursor: pointer;
}
#menu-button:hover a:after {
    opacity: 1;
}
.menu-mobile div.column {
    float:none;
    padding:5px;
    background: #fff;
}
.menu-mobile a.itemMenuName {
    display: block;
    text-align: left;
}
.menu-mobile div.menu-button, .menu-mobile div.menu-mobile {
    float: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.menu-mobile div.column {
    float: none;
    width: 100%;
    padding: 0px 0;
    margin: 0px 0px 0px 0px;
}
.menu-mobile a.level1:link, .menu-mobile a.level1:visited {
    margin-top: 0px;
    margin-bottom: 0;
    padding: 10px 10px;
    border-radius: 2px;
    color: #000;
}
.menu-mobile a.level2:link, .menu-mobile a.level2:visited {
    padding: 10px 10px;
    border-radius: 2px;
}
.menu-mobile a.level1:link, .menu-mobile a.level1:visited {
    color: #555;
}
.menu-mobile a.level1:hover {
    background-color: #f1f1f1;
}
.menu-mobile .parent {
    background-color: #fff;
}
/*buttons level 01*/
.menu-mobile .parentMenu {
    padding: 0px 0px;
    display: block;
    text-align: left;
    border-bottom: 1px solid #dadada;
}
.menu-mobile .parentMenu a:link, .menu-mobile .parentMenu a:visited {
    padding: 10px 0px 10px 10px;
    margin-right: 80px;
    color: #000;
    display: block;
}
.menu-mobile .parentMenu:hover {
    cursor: pointer;
}
.parentMenu {
    position: relative;
}
.parentMenu a {
    display: block;
}
#menu-button {
    cursor: pointer;
}
.menu-mobile div.level2 {
    margin-bottom: 0;
}
#custommenu-mobile .button {
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 0px;
    display: block;
    width: 80px;
    height: 38px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJxJREFUeNpi/P//PwM66O3tBVF1UNwEwsXFxRjqmBhwg3wgZobSWAE+zcxoNEmaCQKKNDP29PTgkvsAxPxA/BGIBXDZ3A7Ef4D4Pxrmh6rhxyL3E4gbQZqL8AUKDsAG0gfS3AfEf0nU/AuIJ4I0VwIxC8j/aPgjVOFHLHLsQFzDiCeFoQQYqSmMtvGMT/NfNJokzQug9HRcCgACDAC34CnSSWx3zwAAAABJRU5ErkJggg==);
}
#custommenu-mobile .button.open {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE5JREFUeNpi/P//PwO5gImBAjBENbP09vZSZHM7EP8B4v8k4J9A3AjSXATEzCRaygbSB9LcB8R/SdT8C4gnsgCJSigmGTCOpjDSAECAAQBI6RqpQRaDFgAAAABJRU5ErkJggg==);
}
#custommenu-mobile .level1 .button {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIxJREFUeNpi/P//PwO5gAWbYG9vL4ZYcXExhhgTAwUAn+YJQAzyUxcuBYwwP2Nx6k8gZgPid0AsjM0L+Gxmg9LMxDob5lTkKOBHEuvCpzmZQBgl4NNcD8SvcWgEiTfhi+c+KGZAcvpHIBbAG9pYEglKaJOaSCqB+BrUK8QnTyxeYCDa2dRIngQBQIABAGG6KfxEmzSnAAAAAElFTkSuQmCC);
}
#custommenu-mobile .level1 .button.open {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpi/P//PwO5gImBAjBwmllgjN7eXqI1FRcXU9/ZE4D4Px7chU9zMgHLEvBprgfi1zg0gsSbsAYYFPRBMVGAcQSmMIo0AwQYAIYUFeQ3G04OAAAAAElFTkSuQmCC);
}
/*BG*/
#custommenu-mobile  .parentMenu:hover a:link, #custommenu-mobile  .parentMenu:hover a:visited, #custommenu-mobile  .parentMenu:hover {
    background-color: #fff;
}
#custommenu-mobile .level0 {
    background-color: #f1f1f1;
}
#custommenu-mobile .level1 {
    background-color: #e4e4e4;
}
#custommenu-mobile .level2 {
    background-color: #f1f1f1;
}


.block1 {
    /* border-right: 1px solid #999; */
    float: left;
    width: 35%;
}
.block2 {
    float: right;
    padding-right: 0 !important;
    width: 65% !important;
}
.template_dropdown_content_image {
  /*  border: 1px solid #ddd; */
}
.block2 .template_dropdown_content_right {
    float: left;

    width: 100%;
}
.template-left-content .colum {
    float: left;
    text-align: left;
    width: 45%;
}
.template-left-content {
    float: left;
    width: 45%;
}
.template-left-content .colum li {
    float: left;
    text-align: left;
    width: 100%;
}
.template-left-content .colum li a {
    color: #000;
    text-transform: capitalize;
}
.block2 .template_dropdown_content_right img {
    max-width: 100%;
}
.template_dropdown_content_image_container_first {
    float: left;;
	background: none repeat scroll 0 0 #fff;
}
.template_dropdown_content_text {
    font-size: 16px;
    margin: 20px 0;
    text-align: center;
}
.template_dropdown_content_text > a {
    color: #000;
}
.wp-menu-box .block1 {
    width: 20%;
margin-top:2em;
}
.wp-menu-box .block2 {
    width: 80% !important;
}
.wp-menu-box .block2 > div {
    float: left;
    text-align: left;
    width: 30%;
}
.wp-menu-box .block2 > div li {
    clear: both;
    float: left;
    text-align: left;
padding:0;
}
.wp-menu-box .block2 > div li a {
    color: #333;
    font-size: 12px;
    text-align: left;
    text-transform: capitalize;
line-height:1.8em;
}
.wp-menu-box .block2 > div ul {
    float: left;
    margin: 0;
    text-align: left;
}
.wp-menu-box .block2 > div li ul {
    padding-left: 0px;
}